<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{get_seo('postal_show','show_postal_title',$title)}</title>
<meta name="keywords" content="{get_seo('postal_show','show_postal_keyword',$title)}">
<meta name="description" content="{get_seo('postal_show','show_postal_description',$title)}">
<link media="screen" title="styles1" href="{THEME_STYLE_PATH}style/css/styles.css" type="text/css" rel="stylesheet">
<script src="{THEME_STYLE_PATH}style/js/jquery-1.9.1.min.js" type="text/javascript" language="javascript"></script>
</head>
<body>
    <style type="text/css">.banner_menu{ display: none;}</style>
    <script>
        (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
        s.charset = 'gbk';
        s.async = true;
        s.src = "http://a.alimama.cn/tkapi.js";
        h.insertBefore(s, h.firstChild);
        }
        var o = {
        pid: "<?php echo C('API_PID'); ?>", //淘宝客pid
        appkey:"<?php echo C('API_KEY'); ?>",  //淘宝客key
        unid:"",
        evid:"",
        type:"click",
        plugins: [
        {name: 'keyword'},
        {name: 'aroundbox'}
        ]
        }
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
        })(window, document);
        </script>
	
<style type="text/css">.banner_menu{ display: none;}</style>
       

<div class="Prompt_box" style="height: 386px; margin: 200px auto; width: 551px;">
	<div style="margin: 35px 0 0 55px; float:left;"><img src="{C('SITE_LOGO_FU')}" /></div>
    <div class="box_bj" style="height: 386px; padding-top: 200px; width: 551px;">
        <div class="bix_bjleft" style="float: left; height: 100px; margin-left: 100px; width: 100px;">

            <a isconvert=1 href="{$rs['goods_url']}">
                <img src="{$rs['thumb']}" width="100" height="100" alt="" /></a>
        </div>
        <!--bix_bjleft-->
        <div class="bix_bjright" style="float: right; height: 100px; margin: 55px 240px 0 0; width: 100px;">
            <img src="{THEME_STYLE_PATH}style/images/tp2_06.jpg" width="132" height="45" alt="" /></a>        </div>
        <a id="hdurl"  isconvert=1 style="display: none" href="{$rs['goods_url']}"></a>        <!--bix_bjright-->
    </div>
    <!--box_bj-->
</div>
<!--Prompt_box-->
</body>
</html>