<ion-view  hide-tabs view-title="晒单分享">
  <ion-nav-buttons side="right">
    <a class="button icon ion-ios-gear-outline button-clear" ng-click="Order_log()" >日志</a>
  </ion-nav-buttons>

  <ion-content style="background-color:#F8F8F8">
    <div ng-if="txddh_showloading" style="margin-top:60px; text-align: center">
      <ion-spinner icon="ios" style="height: 60px; width: 60px;;"></ion-spinner>
    </div>
    <ion-list ng-if="txddh_showloading==false" class="list padding-top">

      <ion-item  class="list_w" >
        <div class="img">
          <img ng-src="{{txddh_showdata.thumb | imgUrl}}" />
        </div>
        <ul class="flex txt txt_wrap">
          <li class="txt-flow" style="font-size:1em;">
            <img ng-src="{{ txddh_showdata.source | f_img_source}}" alt="">{{ txddh_showdata.title | limitTo:15 }}</li>
          <li class="hd_{{txddh_showdata.protype}} c1 txt-flow" style="font-size:0.875em;">
            下单： <b class="cc">{{txddh_showdata.goods_price | currency:"￥"}}</b>
          </li>

          <li class="  c1 txt-flow" style="font-size:0.875em;">
            返还： <b class="cc">{{  (txddh_showdata.goods_bonus -1 +1 )  +  (txddh_showdata.goods_price -1 +1 )  | currency:"￥"}}</b> 
            <span ng-show= " txddh_showdata.goods_bonus >
              0 "  > (含红包
              <b class="cc">{{ txddh_showdata.goods_bonus      }}</b>
              元)
            </span>

          </li>
        </ul>
      </ion-item>

      <p style="color:#A9A9A9d" class="padding-left padding-top ">
        优秀有价值的评价晒单可获得平台额外积分奖励！积分可兑换数种实物和虚拟商品
      </p>

      <form name="myform" novalidate="false">

        <div class="list">

          <label class="item item-input item-stacked-label">
            <span class="input-label">晒单图片</span>
          </label>
          <div  class="padding-top padding-left">
          <img ng-model="sybg_vm.img"  ng-click="imgurl1()" height="45%" width="45%" ng-src="{{sybg_vm.img}}" />
          <input type="file" id='File1' ng-model="picFile" file-model="myFile" ng-file-select="onFileSelect($files)" multiple accept="image/*"  style="display:none;">
          </div>
          <label class="item item-input item-stacked-label padding-right  ">
            <span class="input-label">购物过程和感受</span>
            <label class="item item-input">
              <textarea  ng-model="sybg_vm.xinde"  placeholder="分享一下购物心得" rows="5"></textarea>
            </label>
          </label>

        </div>
        <div class="padding-left padding-right" >
          <button class="button button-block button-assertive  padding-top" ng-click="The_sun()">提交晒单内容
        </button>
        </div>

      </form>

    </ion-list>
  </ion-content>
</ion-view>