<ion-view view-title="我的QQ">
  <ion-content class="padding-top" style="background-color:#F8F8F8">
    <ion-list >

      <form name="myform">
        <div class="list list-inset new-form">
          <label class="item item-input"> <i style="font-size:18px;color:#aaaaea" class="icon ion-iphone placeholder-icon" ></i>
            <input type="number" ng-model="user_qq" name="user_qq" placeholder="请输入您的QQ号码" ng-minlength=5 ng-maxlength=12 required></label>
          <h5 style="color:#A9A9A9">温馨提示:</h5>
          <p style="color:#A9A9A9" class="padding-left">1.填写QQ号有助于提高审核通过率。</p>
          <p style="color:#A9A9A9" class="padding-left">2.方便卖家与您及时沟通活动细节。</p>
          <p style="color:#A9A9A9" class="padding-left">
            3.方便平台客服通知活动
            <div class="padding-left padding-right" ></div>
            <button ng-disabled="myform.$invalid " class="button button-block button-assertive " ng-click="edit_qq(user_qq)">提交</button>
          </div>
        </div>
      </form>

    </ion-list>

  </ion-content>
</ion-view>