<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/user/user_announcement_list" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title" >重要公告</h1>
  </div>
  <ion-content class="padding_head">
  
  <style >
  p{text-indent:2em;}
  
  </style>


    <div class="ibody">
      <div class="i_tryDetail4">
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">GO</div>
              </td>
              <td class="R">
                <div class="a1" style="font-size:18px;font-weight:bold;margin-bottom: 10px;">重要公告</div>
                <div class="p2"  style="font-weight:400;font-size:16px;line-height:1.5em" ><p>关于最近我们快乐挣创业平台出现了一些恶意作假、
				恶意诋毁、恶意辱骂、恶意退款退货的一些情况。</p>
				<p style="color:#E6382D;font-weight:bold">本平台特出此公告：为了保证商家，平台和会员之间的利益，如有出现以上情况，
				本平台一律进行对此封号。永久加入黑名单。恶意作假的将会采取封号，本金概不退还的措施，未返还的本金将用于对商家和平台的损失补偿。
				</p><p>希望各位会员们在挣钱的同时，也要遵守本平台的规章制度，本平台也绝不会恶意扣除会员的佣金。</p><p>只要遵守本平台的规章制度，
				本平台会保证大家的利益，如有什么问题，请直接联系我们的客服或自己的推荐人。如果你对我们的服务有什么不满意的话，
				欢迎随时拨打我们的投诉电话：0735-2235551  我们将竭诚为您服务。</p></div>
				
				<div style="text-align:right;margin-right:40px;font-weight:bold;font-size:16px;text-decoration:underline;margin-top: 10px;">快乐挣平台</div>
                <div class="p3">
                 
              </td>
            </tr>
          </table>
        </div>
      

                  <!--part--> </div>
                <!--i_tryDetail2--> </div>

            </ion-content>
          </ion-view>    