<ion-view view-title="我的手机">
  <ion-content style="background-color:#F8F8F8">
    <ion-list >
      <ion-item class="item item-icon-left item-icon-right " ng-if ="user_profile.phone_status ==1  "> <i style="font-size:18px;color:#73bbee" class="icon ion-iphone"></i>
        已认证手机: <i class="item-note">{{user_profile.phone}}</i>
      </ion-item>

      <form name="myform" novalidate="false">

        <div class="list list-inset new-form">
          <ion-item class="item item-divider" ng-if="user_profile.phone_status ==1 ">
            <h2>修改手机</h2>
          </ion-item>
          <label class="item item-input" >
            <i style="font-size:18px;color:#aaaaea" class="icon ion-iphone placeholder-icon" ></i>
            <input type="number" ng-pattern="/^1[3|4|5|8][0-9]\d{4,8}$/" ng-model="user_phone" name="user_phone" placeholder="请输入您需要认证或者修改的手机" ng-maxlength="11" ng-minlength="11" required></label>

          <label class="item item-input"  >
            <i style="font-size:18px;color:#aaaaea" class="icon ion-unlocked placeholder-icon" ></i>
            <input  type="number" ng-model="user_sms" name="user_sms" placeholder="请输入您收到的验证码" ng-maxlength="6" ng-minlength="6" required>
            <label  >
              <span class="input-label padding-right">
                <button name="user_getsms" ng-disabled="myform.user_phone.$invalid || isDisabled" class="button button-positive button-small " ng-click="UserPersonal_getsms(user_phone)">{{text}}</button>

              </span>

            </label>
          </label>
        </div>

        <p style="color:#A9A9A9" class="padding-left">温馨提示:可以用认证通过的手机直接登录平台！</p>

        <div class="padding-left padding-right" >
          <button ng-disabled="myform.$invalid " class="button button-block button-assertive  padding-top" ng-click="edit_phone(user_phone,user_sms)">提交</button>
        </div>

      </form>

    </ion-list>

  </ion-content>
</ion-view>