<ion-view view-title="我的银行卡">
    <ion-content class="padding-top" style="background-color:#F8F8F8">
        <ion-list >

            <form name="myform" novalidate="false">

                <div class="list list-inset new-form">
                    <label class="item item-icon-left item-icon-right " > 
                    <i style="font-size:18px;color:#47a8ef
" class="icon ion-person placeholder-icon"></i>
                        {{user_Real_name }} 
                        <i class="item-note" style="font-size:14px;">
                       {{name_authentication_status  | f_name_status   }}
                      </i>
                    </label>
                    <label class="item item-input" > <i style="font-size:18px;color:#ffb400" class=" ion-card  placeholder-icon" ></i>
                        <input bank type="text" ng-model="user_bank"  ng-minlength="19" ng-maxlength="23" name="user_bank" placeholder="请输入您的银行卡帐号"  required></label>

                  <label class="item item-input item-select">
                    <div class="input-label">发卡银行</div>
                    <select  ng-model="CityData.data.linkageid" ng-options="a.name for a  in bank_info.data">
                      <option value="">--请选择--</option>
                    </select>
                  </label>


                    <label class="item item-input item-select">
                      <div class="input-label">开户行所在省</div>
                      <select  ng-model="vm.country" ng-options="a.name for a  in CityData.data">
                        <option value="">--请选择--</option>
                      </select>
                    </label>


                      <label class="item item-input item-select">
                        <div class="input-label">开户行所在市</div>
                        <select  ng-model="vm.province"
                            ng-options="b.name for b in province.data">
                          <option value="">--请选择--</option>
                        </select>
                      </label>

                      <label ng-if="city.msg >0" class="item item-input item-select">
                        <div class="input-label">开户行所在县</div>
                        <select class="form-control" ng-model="vm.city" ng-options="c.name for c in city.data  ">
                          <option value="">-开户行所在县-</option>
                        </select>
                      </label>

                  <label class="item item-input" > 
                  <i style="font-size:18px;color:#ff6000" class="ion-home placeholder-icon" ></i>
                      <input type="text" ng-minlength="4"  ng-model="sub_branch" name="sub_branch" placeholder="开户支行名称"  required>
                 </label>

                </div>

                <p style="color:#A9A9A9" class="padding-left">1.银行卡绑定之后，如需修改联系平台客服。</p>
                <p style="color:#A9A9A9" class="padding-left">2.只能绑定实名认证本人银行卡。</p>
                <p style="color:#A9A9A9" class="padding-left">3.平台支持快速提现,最快2小时到账。</p>
                <div class="padding-left padding-right" >
                    <button ng-disabled="myform.$invalid " class="button button-block button-assertive  padding-top" ng-click="edilt_bank(user_bank,CityData.data.linkageid.linkageid,sub_branch)">提交</button>
                </div>
            </form>

        </ion-list>

    </ion-content>
</ion-view>