<ion-view view-title="会员间转账" >
  <ion-content  style="background-color:#F8F8F8">
      <div class="i_userCenter5">
          <p>总金额（元）</p>
          <h2 style="color: #fff">{{money}}</h2>
      </div>
    <ion-list >

    <div class="clear"></div>
      <div class=" padding-top " style="overflow: hidden" >

          <form name="myform">
              <h2 class="text-center userName" ng-show="isShow">{{user_account_name}}</h2>
              <div class="list list-inset new-form" >
                  <div style="position: relative">
                      <label class="item item-input">
                          <i class="icon ion-email placeholder-icon" ></i>
                          <input type="text" style="padding-right: 20px" ng-blur="transfer_blur_user_account(user_account)" name="user_account" placeholder="请输入对方账号" ng-minlength=5 ng-maxlength=100 required ng-model="user_account">
                      </label>
                      <div style="position: absolute;right: 4px;top: 4px;z-index: 10;padding: 10px">
                          <i  class="icon ion-person " ng-click="select_transfer_history()"></i>
                      </div>
                      <div class="clear"></div>

                  </div>

                  <label class="item item-input">
                      <i class="icon ion-social-cny placeholder-icon" style="width:14px;height: 25px;"></i>
                      <input type="number" ng-model="user_money" name="user_money" placeholder="转帐金额" ng-minlength=1 ng-maxlength=100 required >
                  </label>

                  <label class="item item-input">
                      <i class="icon ion-unlocked placeholder-icon" style="width:14px;height: 25px;"></i>
                      <input type="password" ng-model="user_pwd" name="user_pwd" placeholder="登录密码" ng-minlength=5 ng-maxlength=100 required>
                  </label>

                  <div class="padding-left padding-right" ></div>
                  <button ng-disabled="myform.$invalid " class="button button-block button-assertive " ng-click="money_transfer(user_account,user_money,user_pwd)">提交</button>
              </div>
        </form>

      </div>

        <div class="padding-left padding-right padding-top " style="overflow: hidden" >
            <a class="button button-block button-balanced  " href="#/tab/user/log" >明细</a>
        </div>

    </ion-list>

  </ion-content>

  <script id="select_transfer_history.html" type="text/ng-template">
    <ion-modal-view>

        <ion-header-bar>
        <a class="button " ng-click="closeModal();">返回</a>
        <h1 class="title" style="text-align:center;color: #fff" >选择最近转账</h1>
        </ion-header-bar>

        <ion-content >

        <ion-checkbox ng-model="d.selected"  ng-repeat="d in UserTransferList" ng-click="set_transfer_user('{{d.email}}');closeModal();" >
        {{d.infos}}（{{d.email}}）
        </ion-checkbox>

        </ion-content>
     </ion-modal-view>
  </script>


</ion-view>