<ion-view hide-nav-bar="true">
  <div class="bar bar-header bar-stable ">
  
    <a href="#/tab/user" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
  <h1 class="title">官方公告</h1>
 
  </div>
<ion-content class="padding_head">
       


  
		
		    <ion-item class="item item-icon-left item-icon-right " href="#/tab/user/user_announcement" >
                    <i class="icon ion-ios-bookmarks" style="font-size:1.5 em;color:#ff2d65"></i>
                    <h3>重要公告</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
                </ion-item>
    <ion-item class="item item-icon-left item-icon-right " href="#/tab/user/user_announcement_vip" >
                    <i class="icon ion-ios-bookmarks" style="font-size:1.5 em;color:#ff2d65"></i>
                    <h3>Vip公告</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
                </ion-item>
		   
    </ion-content>
</ion-view>