<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/user/user_announcement_list" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title" >快乐挣公告</h1>
  </div>
  <ion-content class="padding_head">
  
  <style >
  p{text-indent:2em;}
  
  </style>


    <div class="ibody">
      <div class="i_tryDetail4">
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">GO</div>
              </td>
              <td class="R">
                <div class="a1" style="font-size:18px;font-weight:bold;margin-bottom: 10px;">注意</div>
                <div class="p2"  style="font-weight:400;font-size:16px;line-height:1.5em" >
				近期发现快乐挣平台有会员在做其他兼职时遭遇被骗情况，我们再次提醒大家一定要认准正规平台，
				不要随便相信其他投资兼职。既然有真实存在的兼职，那么就会有虚假的兼职，我们平台禁止会员之间互相加好友，互相推广与本平台无关的信息。
				如发现会员私自加人并互相挑唆对平台污蔑的言论，一律拉黑永不录入。有对平台造谣生事者，冻结账号，请广大会员互相转告！！！！
				<div style="text-align:right;margin-right:40px;font-weight:bold;font-size:16px;text-decoration:underline;margin-top: 10px;">快乐挣平台</div>
                <div class="p3">
                 
              </td>
            </tr>
          </table>
        </div>
      

                  <!--part--> </div>
                <!--i_tryDetail2--> </div>

            </ion-content>
          </ion-view>    