<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/user/user_announcement_list" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title" >重要公告</h1>
  </div>
  <ion-content class="padding_head">
  
  <style >
  p{text-indent:2em;}
  
  </style>


    <div class="ibody">
      <div class="i_tryDetail4">
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">GO</div>
              </td>
              <td class="R">
                <div class="a1" style="font-size:18px;font-weight:bold">Vip公告</div>
                <div class="p2"  style="font-weight:400;font-size:16px;line-height:1.5em" >
				  每到月底系统将自动清理内存！没有动态的账号将自动清除！各位亲们一定把自己的账号活跃起来哦……清除的账号再入会！入会费将要缴纳398元哦！
				<div style="text-align:right;margin-right:40px;font-weight:bold;font-size:16px;text-decoration:underline">快乐挣平台</div>
                <div class="p3">
                 
              </td>
            </tr>
          </table>
        </div>
      

                  <!--part--> </div>
                <!--i_tryDetail2--> </div>

            </ion-content>
          </ion-view>    