<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/duo" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">联系客服</h1>
  </div>
  <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">

        <!--part-->
        <div class="part" style="border-bottom: none;">
          <div class="p1">
            <div class="p2">
         <!-- <div class="a1">在线联系客服</div> -->
            </div>
            <div class="clearfix"></div>
          </div>
          <div >
		   
             <div class="hang3">
             	<span style="width: 20%;display: inline-block;">小新：</span>
              <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2369437932&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3454015899:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
              QQ&nbsp;:&nbsp;2369437932</br>
              </br>
            </div>
            <div class="hang3">
            	<span style="width: 20%;display: inline-block;">小草：</span>
              <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3545732698&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2369437932:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
              QQ&nbsp;:&nbsp;3545732698</br>
              </br>
            </div>
            <div class="hang3">
            	<span style="width: 20%;display: inline-block;">墙头草：</span>
              <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2198761563&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3545732698:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
              QQ&nbsp;:&nbsp;2198761563</br>
              </br>
            </div>
            <div class="hang3">
            	<span style="width: 20%;display: inline-block;">小丑鱼：</span>
              <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3454015899&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2198761563:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
              QQ&nbsp;:&nbsp;3454015899 </br>
              </br>
            </div>
            <div class="hang3">
            	<span style="width: 20%;display: inline-block;">美人鱼：</span>
              <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3472417652&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2198761563:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
              QQ&nbsp;:&nbsp;3472417652 </br>
              </br>
            </div>
            <div class="hang3">
            	<span style="width: 20%;display: inline-block;">小叶：</span>
              <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2873697001&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2198761563:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
              QQ&nbsp;:&nbsp;2873697001 </br>
              </br>
            </div>
           </div>
        <b class="cc" >为了防止某些不法份子利用qq聊天骗取用户信息,请广大玩家留意,认准官方指定客服号码</b></br>
        <br>平台已对外开放客服投诉监督电话，如果对我们的服务不满意或者未能帮助到您，欢迎您随时拨打监督电话：<b class="cc" >0735-2235551</b></br></br>
        工作时间周一至周六8：30-18：00</br></br>
        感谢您对快乐挣的支持，我们将携程为您服务！！</div>
        </div>
   </div>

        <!--part--> </div>
      <!--i_guide--> </div>
  </ion-content>
</ion-view>