div.sun_single{
	width: 1180px;
	margin: 0 auto;
	padding-top: 25px;
}

div.sun_single h1{
	text-align: center;
	font: 25px "微软雅黑";
	color: #7d7d7d;
}

div.filter{
	border-top: 1px solid #666666;
	background: url(../images/filterbox.jpg) repeat-x;
	margin-bottom: 20px;
	padding: 15px 0 0 90px;
	text-align: center;
}

div.filter a{
	margin-right: 80px;
	padding: 0 10px;
	font: 11px "微软雅黑";
	border-radius: 5px;
	cursor: pointer;
}

div.filter a:hover{
	background: #313131;
	color: #ffffff;
	
}

a.filter_active{
	background: #313131;
	color: #ffffff;
	
}

div.goods_list div.goods{
	width: 220px;
	border: 1px solid #b8b8b8;
	border-radius: 2px;
	box-shadow: 0 0 3px #b8b8b8;
	margin:0 0 12px 12px;
	float: left;
}

div.goods div.goods_img{
	position: relative;
}

div.goods_img img{
	height: auto;
}

div.goods div.goods_title{
	width: 200px;
	height: 24px;
	background: url(../images/goods_title_bg.png);
	padding:8px 10px;
	position: absolute; left: 0; bottom: 0;
}

div.goods_title a{
	color: #ffffff;
}

div.goods div.member{
	text-align: center;
}

div.member a{
	color: #535353;
}

div.member a.member_avatar{
	display: block;
	width: 43px;
	height: 43px;
	border: 3px solid #b3b3b3;
	border-radius: 50px;
	margin: 1px auto 5px;
}

div.member a.member_avatar img{
	width: 43px;
	height: 43px;
	text-align: center;
	border-radius: 50px;
}

div.goods span.goods_comment{
	display: block;
	height: 30px;
	padding: 10px;
	color: #979797;
	text-indent:12px;
}

div.goods span.order_time{
	display: block;
	font-size: 13px;
	text-align: right;
	margin:0 5px 5px 0;
}

div.sun_single_line{
	text-align: center;
	border-top: 3px solid #bbbbbb;
	margin: 0 0 105px 0;
	padding-top: 12px;
	color: #424242;
	font: 14px "微软雅黑";
}

div.sun_single a.back_top{
	display: block;
	width: 64px;
	height: 64px;
	background: url(../images/back_top.jpg) no-repeat;
	position: fixed; bottom: 100px; right: 50px;
	cursor: pointer;
}
.banner_menu {display: none;}