a.cursor{
	background-color:#ff6600;
	color:#ffffff;
}

div.content_right{
	width:780px;
	padding:20px 20px 45px 20px;
	border:1px solid #efefef;
}

div.content_right h1{
	font-size:14px;
}

div.content_right div.email_form{
	border-top:1px solid #efefef;
	margin-top:10px;
	padding-top:10px;
}

div.email_input dt{
	width:130px;
	text-align:right;
}

div.email_input dd{
	margin-bottom:20px;
}

div.email_input dt{
	font-size:14px;
	line-height:26px;
}

div.email_input input{
	height:28px;
	border:1px solid #dddddd;
	width:107px;
	padding-left:10px;
	color:#666666;
}

div.email_input dd.code{
	margin:3px 0 0 10px;
}

div.email_input dd.code a{
	display:block;
	width:65px;
	height:23px;
	line-height:23px;
	border:1px solid #ff5613;
	background:#fff4c3;
	color:#ff0000;
	text-align:center;
}

div.email_form div.submit{
	padding:30px 0 0 17px;
}

div.email_form div.submit input{
	width:80px;
	height:32px;
	background:#ff6600;
	color:#ffffff;
	border:none;
	padding:0;
	font-size:14px;
	border-radius:3px;
	cursor:pointer;
}



