<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>会员中心-试用报告</title>
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/help.css" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	</head>
	<body>
		<div id="top" class="">
			<div class="wrap-and clear">
				<div class="fl l-nav clear">
					<span class="fl">您好，欢迎光临云划算</span>
					<ul class="clear fl">
						<li class="qq-icon"><a href="#">QQ用户登录</a></li>
						<li><a href="#">商家登录</a></li>
						<li><a href="">免费注册</a></li>
					</ul>
				</div>
				<ul class="fr r-nav">
					<li class="qq-icon"><a href="#">在线客服</a></li>
					<li><a href="#">帮助中心</a></li>
					<li><a href="#">网站导航</a></li>
				</ul>
			</div>
		</div>
		
		<div id="user_header">
			<div class="wrap-and">
				<div class="user_logo clear fl">
					<div class="logo_img fl"><img src="images/user/logo.png" alt="" /></div>
					<h1 class="l_title fl">帮助中心</h1>
					<ul class="help_main_nav_tab">
						<li class="active"><a href="help_tmp.html">试客中心</a></li>
						<li><a href="help_shops_tmp.html">商家中心</a></li>
					</ul>
				</div>
				<div class="help_search">
					<form action="">
						<div class="txt fl"><input placeholder="有问题试着搜" type="text" /></div>
						<input class="fl nav_sub" type="submit" value="搜索"/>
					</form>
				</div>
			</div>
		</div>
		
		
		<div id="content">
			<div class="wrap">
				<p class="hint-wz clear hint_wz_2">
					当前位置：
					<b>首页 > </b>
					<b>赚佣金</b>
				</p>
			</div>
			
			<div class="wrap-and clear">
				<div class="help_left fl">
					<h2 class="title">试客中心</h2>
					<dl class="nav_list">
						<dt>用户登录与注册</dt>
						<dd><a href="#">如何注册</a></dd>
						<dd><a href="#">如何登录</a></dd>
					</dl>
					<dl class="nav_list">
						<dt>试用流程说明</dt>
						<dd><a href="#">用户登录与注册</a></dd>
						<dd><a href="#">如何注册</a></dd>
						<dd><a href="#">如何登录</a></dd>
					</dl>
					<dl class="nav_list">
						<dt>试客中心</dt>
						<dd><a href="#">了解试用</a></dd>
						<dd><a href="#">参与试用的条件</a></dd>
						<dd><a href="#">如何获取金币</a></dd>
						<dd><a href="#">如何搜索试用下单</a></dd>
						<dd><a href="#">如何查看我的试用情况</a></dd>
						<dd><a href="#">如何填写我的试用报告</a></dd>
					</dl>
				</div>
				<div class="help_right fr">
					<div class="box">
						<h3 class="title">如何注册</h3>
						<div class="content">
							<ul>
								<li class="clear">
									<b class="list-ico fl">1.</b>
									第一步：在领啦首页右边点击"免费注册"，打开注册页面。（所有帮助页面参照这一个模板）
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div id="footer">
				<div class="footer-nav">
					<div class="wrap">
						<div class="list fl">
							<dl class="fl p0">
								<dt>购物指南</dt>
								<dd><a href="#">购物流程</a></dd>
								<dd><a href="#">会员介绍</a></dd>
								<dd><a href="#">常见问题</a></dd>
								<dd><a href="#">大家电</a></dd>
								<dd><a href="#">联系客服</a></dd>
							</dl>
							<dl class="fl">
								<dt>配送方式</dt>
								<dd><a href="#">购物流程</a></dd>
								<dd><a href="#">会员介绍</a></dd>
								<dd><a href="#">常见问题</a></dd>
								<dd><a href="#">大家电</a></dd>
								<dd><a href="#">联系客服</a></dd>
							</dl>
							<dl class="fl">
								<dt>支付方式</dt>
								<dd><a href="#">购物流程</a></dd>
								<dd><a href="#">会员介绍</a></dd>
								<dd><a href="#">常见问题</a></dd>
								<dd><a href="#">大家电</a></dd>
								<dd><a href="#">联系客服</a></dd>
							</dl>
							<dl class="fl">
								<dt>售后服务</dt>
								<dd><a href="#">购物流程</a></dd>
								<dd><a href="#">会员介绍</a></dd>
								<dd><a href="#">常见问题</a></dd>
								<dd><a href="#">大家电</a></dd>
								<dd><a href="#">联系客服</a></dd>
							</dl>
							<dl class="fl">
								<dt>特色服务</dt>
								<dd><a href="#">购物流程</a></dd>
								<dd><a href="#">会员介绍</a></dd>
								<dd><a href="#">常见问题</a></dd>
								<dd><a href="#">大家电</a></dd>
								<dd><a href="#">联系客服</a></dd>
							</dl> 
							</dl> 
						</div>
						<div class="footer-logo fr">
							<div class="l">
								<img src="images/logo-b.png" alt="" />
								<span>客服时间:9:00-24:00</span>
							</div>
							<div class="phone clear">
								<div class="fl p-i"></div>
								<div class="fl p-n">400 000 8889</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="b-c-l">
					<div class="b-fx">
						<div class="b-fx-w clear">
							<div class="gz fl t-code clear">
								<div class="c-i fl"><img src="images/t-code.png" alt="" /></div>
								<dl class="fr">
									<dt>关注官方微信</dt>
									<dd>扫一扫</dd>
									<dd>享受微信专享服务</dd>
								</dl>
							</div>
							
							<div class="gz fl sina">
								<p class="t">关注新浪微博</p>
								<p class="b">
									<a href="#">立即关注</a>
								</p>
							</div>
							
							<div class="gz fl wb">
								<p class="t">关注新浪微博</p>
								<p class="b">
									<a href="#">立即关注</a>
								</p>
							</div>
							
							<div class="gz fl qq">
								<p class="t">关注新浪微博</p>
								<p class="b">
									<a href="#">立即关注</a>
								</p>
							</div>
						</div>
					</div>
					
					<div class="hz-sj">
						<div class="wrap-and">
							<img src="img/l1.png" alt="" />
							<img src="img/l2.png" alt="" />
							<img src="img/l3.png" alt="" />
							<img src="img/l4.png" alt="" />
							<img src="img/l5.png" alt="" />
							<img src="img/l6.png" alt="" />
							<img src="img/l7.png" alt="" />
						</div>
					</div>
					
					<div class="link">
						<div class="wrap-and">
							<span><a href="#">关于我们</a></span>
							<span><a href="#">我们的团队</a></span>
							<span><a href="#">网站联盟</a></span>
							<span><a href="#">热门搜索</a></span>
							<span><a href="#">友情链接</a></span>
							<span><a href="#">社区</a></span>
							<span><a href="#">诚征英才</a></span>
							<span><a href="#">商家登录</a></span>
							<span><a href="#">供应商登录</a></span>
							<span><a href="#">放心搜</a></span>
							<span><a href="#">新品</a></span>
							<span class="rn"><a href="#">开放平台</a></span>
						</div>
					</div>
					<p class="copy">沪ICP备13044278号|合字B1.B2-20130004|营业执照|互联网药品信息服务资格证|互联网药品交易服务资格证Copyright© 云划算网上超市 2007-2015，All Rights Reserved</p>
					
					<div class="zd-h">
						<img src="img/b1.png" alt="" />
						<img src="img/b2.png" alt="" />
						<img src="img/b3.png" alt="" />
						<img src="img/b4.png" alt="" />
						<img src="img/b5.png" alt="" />
					</div>					
					
				</div>
		</div>
	</body>
</html>
