<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">试用新手指引</h1>
  </div>
  <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
        <div class="part">
          <div class="p1">
            <div class="a1">1、申请试用</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
            进入试用频道,申请心仪的宝贝
            <a href="#/tab/trial">点击进入</a>
            <br>填写申请理由 提交试用申请,等待商家审核。</div>
        </div>
        <!--part-->
        <div class="part">
          <div class="p1">
            <div class="a1">2、下单购买</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
            获得试用资格，按要求去指定平台下单购买（请仔细阅读活动说明）
            <br>
            <span>下单款项将在活动完成之后,全额返还到您平台账户。</span>
            <br>
            请在获得资格后
            <span>24小时</span>
            内填写订单（若超时未填写，系统将自动取消资格）
            <br></div>
        </div>
        <!--part-->
        <div class="part">
          <div class="p1">
            <div class="a1">3、填写报告</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
            请在填写订单号后
            <span>14天</span>
            内填写试用报告（若超时未填写，系统将自动取消资格）
          </div>
        </div>
        <!--part-->
        <div class="part">
          <div class="p1">
            <div class="a1">4、商家返款</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
            商家将在
            <span>5天</span>
            内审核您的订单号和报告（若5天内未审核，系统将自动返款）
            <br>获得返款后，申请把返款提现到支付宝</div>
        </div>
        <!--part-->
        <div class="part">
          <div class="p1">
            <div class="a1">为什么要先购买？</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
            <span>商家提供免费试用商品并非完全无偿，商家希望获得以下回报：</span>
            <br>
            1、获得用户的实际购买和积累商品销量，为其他消费者提供销量引导。
            <br>
            2、快速的为试用商品积累商品评价。
            <br>
            <br>
            为防止用户领取试用商品后不给予合理评价（或给予恶意评价），顾需要由用户先下单购买，然后再由平台返还担保金（用户下单购买所花费的费用），保证用户给予商品积极客观的评价。
          </div>
        </div>
        <!--part-->
        <div class="part">
          <div class="p1">
            <div class="a1">不返款怎么办？</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
            <span>所有商家发布试用活动前都必须存入活动担保金至平台，否则活动无法开始。</span>
            <br>如果商家以各种原因不退还用户购买费用，系统户自动将商家活动前存入的活动担保金返还用户（用户下单购买所花的费用）。</div>
        </div>
        <div class="part">
          <div class="p1">
            <div class="a1">试用品需退还吗？</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
            <span>所有申请通过的试用商品都无需退还。</span>
            <span>在下单过程当中有任何疑问，请联系平台客服.</span>
          </div>
        </div>
        <!--part--> </div>
      <!--i_guide--> </div>
  </ion-content>
</ion-view>