<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{if $modelid == 1}买家用户注册{else}商家用户注册{/if}-{C('WEBNAME')}</title>
		<meta name="keywords" content="{if $modelid == 1}买家用户注册{else}商家用户注册{/if}，{C('WEBNAME')}" /> 
        <meta name="description" content="{if $modelid == 1}欢迎您注册{C('WEBNAME')}买家用户，拥有{C('WEBNAME')}账号可享受{C('WEBNAME')}为您带来的多项便捷服务.{else}欢迎您注册{C('WEBNAME')}商家用户，拥有{C('WEBNAME')}商家账号可报名参与{C('WEBNAME')}多项促销活动，可为您提升产品销量，提示产品知名度等多项服务。{/if}" />
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/Move.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/setLogin.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/setIndex.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/jquery-1.6.min.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/slide.js"></script>
		<link rel="stylesheet" href="{THEME_STYLE_PATH}style/css/style.css" /> 
		<link rel="stylesheet" href="{THEME_STYLE_PATH}style/css/shops_login.css" /> 
		<script language="javascript" type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
		<script language="javascript" type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
		<style type="text/css">
			.user_input_text{
				position: relative;
			}
			
			.mail_lists{
				width: 308px !important;
				background: #ffffff;
				border: 1px solid #dddddd;
				border-top: none;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				position: absolute;
				top: 44px;
				left: 90px;
				cursor: pointer;
				display: none;
				float: none !important;
				height: auto !important;
				margin: 0 !important;
				text-indent: 0 !important;
			}
			
			.mail_lists li{
				width: auto !important;
				display: none;
				padding-left: 20px;
				overflow: hidden;
				float: none !important;
			}
			
			.mail_lists li span{
				font-size: 14px;
				width: auto !important;
				float: none !important;
			}
			
			.mail_active{
				background: #2090ff;
				color: #ffffff;
			}
			.db{
				display: block !important;
			}
		</style>
	</head>
	<body>
		<div class="top">
			<div class="wrap">
				<h1 class="login_logo fontSize"><img src="{C('SITE_LOGO_FU')}" alt="{C('WEBNAME')}" /><span>用户注册</span></h1>
				<ul class="login_nav">
					<li><a href="{__APP__}">首页</a></li>
					<li><a href="{U('document/index/lists',array('catid'=>2))}">帮助中心</a></li>
					<li><a href="{U('document/index/lists',array('catid'=>83))}">关于我们</a></li>
				</ul>
			</div>
		</div>	
		<div class="center">
			<div class="wrap">
				<ul class="schedule">
					<li class="s_auto">1.填写注册信息</li>
					<li class="s_off">2.验证身份信息</li>
					<li class="s_off">3.注册成功</li>
				</ul>
				<ul class="schedule" style="display:none;">
					<li class="s_auto">1.填写商家注册信息</li>
					<li class="s_off">2.验证身份信息</li>
					<li class="s_off">3.注册成功</li>
				</ul>
				<div class="center_content">
					<ul class="content_title">
						<li><a href="{U('register', array('modelid' => 1))}" class="user_btn_bg{if $modelid == 1} clickborder{/if}">买家注册</a></li>
						<li><a href="{U('register', array('modelid' => 2))}" class="shops_btn_bg{if $modelid == 2} clickborder2{/if}">商家注册</a></li>
					</ul>
					<div class="hr"><!-- 水平线避免兼容 --></div>					
                    <form action="{U('Member/Index/register')}" method="POST" id="myform" class="login_form ">
                        <input type="hidden" name="info[modelid]" id ="modelid" value="{$modelid}"/>
                        <input type="hidden" name="info[agent_id]" value="{$agent_id}"/>
						<ul class="user">
							<li style="position: relative;">
								<span>Email：</span>
								<input type="text" name="info[email]" id="email">
								<!-- 邮箱提示 start -->
								<div class="mail_lists">
									<ul>
										<li>
											<span class="mail_prefix"></span><span>@</span><span class="mail_suffix">qq.com</span>
										</li>
										<li>
											<span class="mail_prefix"></span><span>@</span><span class="mail_suffix">sina.com</span>
										</li>
										<li>
											<span class="mail_prefix"></span><span>@</span><span class="mail_suffix">126.com</span>
										</li>
										<li>
											<span class="mail_prefix"></span><span>@</span><span class="mail_suffix">163.com</span>
										</li>
										<li>
											<span class="mail_prefix"></span><span>@</span><span class="mail_suffix">vip.qq.com</span>
										</li>
										<li>
											<span class="mail_prefix"></span><span>@</span><span class="mail_suffix">sohu.com</span>
										</li>
									</ul>
								</div>
								<!-- 邮箱提示 end -->
							</li>
							<li>
								<span>登录密码：</span>
								<input type="password" name="info[password]" id="password"/>
							</li>
							<li>								
								<span>确认密码： </span>
								<input type="password" name="info[pwdconfirm]" id="pwdconfirm"/>
							</li>

							<?php if (in_array($modelid, $setting['setting_register_verify_enable'])): ?>
							<li>								
								<span>验证码： </span>
                                <input type="text" name="info[verify]" id="verify" style="width:200px;" />&nbsp;<img class="hint_img" id="verify_img" src="{U('Api/Verify/create')}" onclick="refresh_verify();" style="cursor:pointer; " />
							</li>
							<?php endif ?>

							<?php if (in_array($modelid, $setting['setting_register_sms_enable'])): ?>
							<li>
								<span>手机号码： </span>
								<input type="text" name="info[phone]" id="phone" size="11" />
								
							</li>
                            <li>
                                <span>&nbsp;</span>
                                <a href="javascript:;" class="act_btn getverify" >获取验证码</a><input type="text" name="info[sms]" id="sms" placeholder="您收到的手机短信验证码" size="4" style="width:188px;" />
                            </li>
							<?php endif ?>
														
							<input type="submit" class="onsubmit" value="提交注册" />
							<!-- <p class="user_statement"><input type="checkbox" /><span>我已阅读过同意声明</span></p>	 -->
						</ul>					
					</form>
					<ul class="u_l_btn">
						<li>已有{C('WEBNAME')}账号？</li>
						<li><a href="{U('Member/Index/login')}">立即登录</a></li>
					</ul>
				</div>			
			</div>
		</div>
				{include template('forget_footer')}


<script type="text/javascript">
$.formValidator.initConfig({
	formid:"myform",
	autotip:true,
	onerror:function(msg,obj){
		$(obj).focus();
	}
});

$("#email").formValidator({
	empty:false,
	onempty:'电子邮箱不能为空',
	onshow:'请填写您的电子邮箱',
	onfocus:'请填写您的电子邮箱'
}).inputValidator({
	min:1,
	onerror:'电子邮箱不能为空'
}).regexValidator({
	datatype:'enum',
	regexp:'email',
	onerror:'电子邮箱格式不正确'
}).ajaxValidator({
    url : "{U('public_checkemail_ajax')}",
    datatype:'JSON',
    async:false,
    success:function(ret) {
        if(ret.status == 1) {
            return true;
        } else {
            return false;
        }
    },
    onerror:'该Email已被占用'
});

$("#password").formValidator({
	empty:false,
	onempty:'登录密码不能为空',
	onshow:'6-20个字符，请使用字母数字加上下划线组合密码。',
	onfocus:'6-20个字符，请使用字母数字加上下划线组合密码。'
}).inputValidator({
	min:6,
	max:20,
	onerror:'登录密码必须为6-20个字符'
});

$("#pwdconfirm").formValidator({
	empty:false,
	onempty:'确认密码不能为空',
	onshow:'请再次确认登录密码',
	onfocus:'请再次确认登录密码'
}).inputValidator({
	min:6,
	max:20,
	onerror:'确认密码必须为6-20个字符'
}).compareValidator({
	desid:'password',
	onerror:'确认密码输入不一致'
});

<?php if (in_array($modelid, $setting['setting_register_sms_enable'])): ?>
$("#phone").formValidator({
	empty:false,
	onempty:'手机号码不能为空',
	onshow:'请输入您的手机号码（大陆地区）',
	onfocus:'请输入您的手机号码（大陆地区）'
}).inputValidator({
	min:11,
	max:11,
	onerror:'手机号码只能为11位'
}).regexValidator({
	datatype:'enum',
	regexp:'mobile',
	onerror:'手机号码格式不正确'
}).ajaxValidator({
    url : "{U('public_checkphone_ajax')}",
    datatype:'JSON',
    async:false,
    success:function(ret) {
        if(ret.status == 1) {
            return true;
        } else {
            return false;
        }
    },
    onerror:'该手机已被占用'
});

var errmsg = '';
$("#sms").formValidator({
    empty:false,
    onshow:'请输入手机短信验证码',
    onfocus:'请输入手机短信验证码'
}).inputValidator({
   min:6,
   max:6,
   onerror:'验证码只能为6位'
}).ajaxValidator({
    url:"{U('public_check_sms')}",
    datatype:'JSON',
    async:false,
    getdata:{mobile:'phone'},
    success:function(ret) {
        if(ret.status == 1) {
            return true;
        } else {
            return false;
        }
    },
    onerror:'手机短信验证码输入错误'
});

//获取手机短信验证码
var InterValObj;
var curCount = 60;
$("a.getverify").click(function(){
    var mobile = $("#phone").val();
    var verify = $("#verify").val();
    var modelid = $("#modelid").val();

    if(mobile == '') {
        $("#phone").focus();
        return false;
    }
    if(verify == '') {
        $("#verify").focus();
        return false;
    }

    if(modelid == '') {
        return false;
    }

    if($("a.getverify").hasClass('disabled') == false){
    	$.getJSON("{U('public_send_sms')}", {mobile:mobile,verify:verify,modelid:modelid}, function(ret) {
		        if(ret.status == 1) {
		            InterValObj = window.setInterval(SetRemainTime, 1000);
		        } else {
		            alert(ret.info);
		            return false;
		        }
	    });
    }

	
    
});
function SetRemainTime() {
    if (curCount == 1) {
    	curCount = 60;          
        window.clearInterval(InterValObj);//停止计时器
        $("a.getverify").text("重发验证码").removeClass('disabled');   
    }
    else {
        curCount--;
        $("a.getverify").text("" + curCount + "秒后重发").addClass('disabled');
    }
}
<?php endif ?>
<?php if (in_array($modelid, $setting['setting_register_verify_enable'])): ?>
$("#verify").formValidator({
	empty:false,
	onempty:'验证码不能为空',
	onshow:'请输入验证码',
	onfocus:'请输入验证码'
}).inputValidator({
	min:4,
	max:4,
	onerror:'验证码只能为4位'
}).ajaxValidator({
    url : "{U('public_checkverify_ajax')}",
    datatype:'JSON',
    async:false,
    success:function(ret) {
        if(ret.status == 1) {
            return true;
        } else {
            return false;
        }
    },
    onerror:'验证码输入错误'
});

/* 刷新图形验证码 */
function refresh_verify() {
	$("img#verify_img").attr('src', 'index.php?m=api&c=verify&a=create&_t=' + Math.random());
}
<?php endif ?>

$(document).ready(function(){
	// 邮箱提示
	$("#email").keyup(function(event){
		if(event.keyCode != 38 && event.keyCode != 40 && event.keyCode != 13){
			var mail_val = $(this).val();
			if($.trim(mail_val) != "" && $.trim(mail_val).match(/^@/) == null){
				$(".mail_lists").show();
				$(".mail_lists li").addClass("db");
				$(".mail_lists li").removeClass("mail_active");
				$(".mail_lists li").eq(0).addClass("mail_active");
				if($.trim(this.value).match("@") == null){
					$(".mail_prefix").text(mail_val);
				}
				else{
					var sub_mail_val = new Array();
					sub_mail_val = mail_val.split("@");
					$(".mail_prefix").text(sub_mail_val[0]);
					var sub_mail_val_len = sub_mail_val[0].length;
					if(mail_val.length > sub_mail_val_len + 1){
						var _sub_mail_val = sub_mail_val[1];
						$(".mail_suffix").each(function(){
							var mail_suffix_text = $(this).text();
							if(mail_suffix_text.match(_sub_mail_val) != null && mail_suffix_text.indexOf(_sub_mail_val) == 0){
								$(this).parent().addClass("db");
								$(".mail_lists li").removeClass("mail_active");
								$(".mail_lists .db").eq(0).addClass("mail_active");
								if(_sub_mail_val.length >= mail_suffix_text.length){
									$(this).parent().removeClass("db mail_active");
				                }
							}
							else{
								$(this).parent().removeClass("db mail_active");
							}
						});
					}
					else{
						$(".mail_lists li").addClass("db");
						$(".mail_lists li").removeClass("mail_active");
						$(".mail_lists li").eq(0).addClass("mail_active");
					}
				}
			}
			else{
				$(".mail_lists").hide();
				$(".mail_lists li").removeClass("mail_active");
				$(".mail_lists li").removeClass("db");
			}
		}
					
		if(event.keyCode == 13){
			var mail_val = $(".mail_active").find(".mail_prefix").text() + "@" + 			$(".mail_active").find(".mail_suffix").text();
			$(this).val(mail_val);
			$(".mail_lists").hide();
			$(".mail_lists li").removeClass("db mail_active");
		}
		
	});
	
	$("#email").keydown(function(event){
		if(event.keyCode == 40){
			if($(".mail_active").nextAll().is(".db")){
				$(".mail_active").removeClass("mail_active").nextAll(".db").eq(0).addClass("mail_active");
			}
			else{
				$(".mail_lists .db").removeClass("mail_active");
				$(".mail_lists .db").eq(0).addClass("mail_active");
			}
			
		}
		
		if(event.keyCode == 38){
			if($(".mail_active").prevAll().is(".db")){
				$(".mail_active").removeClass("mail_active").prevAll(".db").eq(0).addClass("mail_active");
			}
			else{
				$(".mail_lists .db").removeClass("mail_active");
				$(".mail_lists .db:last").addClass("mail_active");
			}
		}
	});
	
	$(".mail_lists li").mouseover(function(){
		$(".mail_lists li").removeClass("mail_active");
		$(this).addClass("mail_active");
	});
	
	$(".mail_lists li").mousedown(function(){
		var mail_val = $(this).find(".mail_prefix").text() + "@" + $(this).find(".mail_suffix").text();
		$("#email").val(mail_val);
		$(".mail_lists").hide();
		$(".mail_lists li").removeClass("db mail_active");
	});
	
	$(document).click(function(){
		$(".mail_lists").hide();
	});
});
</script>
