{include template('header','common')}
    <style type="text/css">.banner_menu{ display: none;}</style>
    <script>
        (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
        s.charset = 'gbk';
        s.async = true;
        s.src = "http://a.alimama.cn/tkapi.js";
        h.insertBefore(s, h.firstChild);
        }
        var o = {
        pid: "<?php echo C('API_PID'); ?>", //淘宝客pid
        appkey:"<?php echo C('API_KEY'); ?>",  //淘宝客key
        unid:"",
        evid:"",
        type:"click",
        plugins: [
        {name: 'keyword'},
        {name: 'aroundbox'}
        ]
        }
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
        })(window, document);
        </script>
    
<style type="text/css">
	.suspend li a{
		background: #f45a4f;
	}
</style>
	<div id="wrapper">
		<div id="header-style">
			<a href="javascript:;" onclick="javascript:history.back(-1);" class="skip fl"></a>
			<strong class="d-block uset-t-text">{C('POSTAL_NAME')}</strong>
			<div class="user">
                {if is_login()}
                <a href="{U('Member/Profile/index')}"></a>
                {else}
                <a href="{U('Member/Index/login', array('refresh' => urlencode(__SELF__)))}"></a>
                {/if}
			</div>
		</div>
		<div class="content fs-18">
			<div class="change-banner">
				<img src="{$rs[thumb]}" alt="{$title}" />
				<div class="hint">
					<h2 class="c-white">{$title}</h2>
					<p class="txt c-white">
						<span style="color: #fff">{catpos($catid, '', 'product')}</span>
						<!--<strong class="fr">所需积分：<i class="c-bb000d">3000</i></strong>-->
					</p>
					<!--  背景  -->
					<span class="shade  bg-000"></span>
				</div>
			</div>

			<div class="act-mess">
				<ul class="price_lists">
					<li class="f1_5" style="margin-right: 3%;">{activitiy_price_name($mod)}：<b class="c-bb000d f1_5"><i>￥</i>{price($id)}</b></li>
				</ul>
				<ul class="list l-line-h clear">
					<li class="bt_aeaeae" style="width: 100%; font-size: 2em; line-height: 1.6em;">卖家已交担保金：<b class="c-bb000d"><i>￥</i>{php echo sprintf('%.2f', ($goods_price * $goods_number))}</b></li>
					<li class="bt_aeaeae" style="width: 100%; font-size: 2em; line-height: 1.6em;">完成试用返还划算金：<b class="c-bb000d"><i>￥</i>{php echo $rs['goods_price'] - $rs['goods_price'] * $rs['goods_discount'] / 10}</b></li>
					<li class="bt_aeaeae f1_5" style="line-height: 2.6em;">限量份数：<b class="c-bb000d">{$goods_number}</b>件</li>
                    <li class="bt_aeaeae f1_5" style="line-height: 2.6em;">剩余份数：<b class="c-bb000d">{php echo $goods_number - $already_num}</b>件</li>
                    <li class="bt_aeaeae f1_5" style="line-height: 2.6em;">已申请试用：<b class="c-bb000d">{get_trial_by_gid($rs['id'])}</b></li>
                    <li class="bt_aeaeae f1_5" style="line-height: 2.6em;">完成试用：<b class="c-bb000d">{get_over_trial_by_gid($rs['id'])}</b></li>
				</ul>
				<p class="timer c-bb000d clear bt_aeaeae">
					<span class="fl f1_5" style="width: 100%">开始时间：<i>{dgmdate($start_time)}</i></span>
				</p>
				<p class="timer c-bb000d clear bt_aeaeae">
					<span class="fl f1_5" style="width: 100%">结束时间：<i>{dgmdate($end_time)}</i></span>
				</p>
                <p class="timer c-bb000d clear bt_aeaeae">
                    <span class="fl time_remaining f1_5" style="width: 100%">剩余时间：</span>
                </p>
				<dl class="hint-list clear f1_5">
                    {if array_filter($rs['goods_tips']['order_tip'])}
                    <dt class="fl">温馨提示：</dt>
                    <dl class="fl">
                        {php $goods_tips_arr=array( '请不要使用信用卡下单', '请不要催促商家返款')}
                        {loop $rs['goods_tips']['order_tip'] $k $v}
                        <dd>{$goods_tips_arr[$k]}</dd>
                        {/loop}
                    </dl>
                    {/if}
				</dl>
                {if ($rs['goods_tips']['goods_order']['kuaidi'])}
                    <dl class="hint-list clear f1_5">
                        <dt class="fl">默认快递：</dt>
                        <dl>
                            <dd class="fl">{$rs['goods_tips']['goods_order']['kuaidi']}</dd>
                        </dl>
                    </dl>
                {/if}
                {if ($rs['goods_tips']['goods_order']['remark'])}
                <dl class="hint-list clear f1_5">
                    <dt class="fl">拍下须知：</dt>
                    <dl>
                        <dd class="fl">{$rs['goods_tips']['goods_order']['remark']}</dd>
                    </dl>
                </dl>
                {/if}

                {if ($rs['goods_tips']['goods_order']['price']['cost'])}
                <dl class="hint-list clear f1_5">
                    <dt class="fl">原价为：{$rs['goods_tips']['goods_order']['price']['cost']}元，
                        拍下后价格为：{$rs['goods_tips']['goods_order']['price']['after']}元
                    </dt>
                </dl>
                {/if}

                {if ($rs['goods_tips']['goods_order']['price']['lv'])}
                <dl class="hint-list clear f1_5">
                    <dt class="fl">请用V1-V3价格{$rs['goods_tips']['goods_order']['price']['lv']}元下单</dt>
                </dl>
                {/if}

			</div>
			<div class="details" style="min-height: 15em;">
                <?php
                $goods = $rs;
                unset($rs['goods_content']);
                $goods['report_count'] = report_count_by_gid($id);//晒单
                $goods['buyer_count'] = buyer_count_by_gid($id);//抢到
                ?>
				<ul class="deta-title deta-t-33 clear">
					<li class="fl deta-focus"><b><a href="javascript:;" class="d-block fs-24">商品详情</a></b></li>
				</ul>
				<div class="deta-box deta-big d-block f1_5">
                    {$goods_content}
				</div>
				<div class="deta-box deta-big d-none">

				</div>
				<div class="deta-box d-none bg-f0f0f0">


				</div>
			</div>
		</div>
        <!--   悬浮   -->
        <div class="suspend bg_bb000d">
            <ul class="clear">
                <!--<span class="undefined icon"></span>-->
                <li><b class="buy_btn"><a isconvert=1 href="{$rs['goods_url']}">立即到{get_shop_set($rs[source], 'name')}购买</a></b>
                </li>
                <!--<li><b><a href="javascript:;" class="set-top">返回顶部</a></b></li>-->
            </ul>
        </div>
<script type='text/javascript'>
        <?php $goods = $rs;unset($goods['goods_content']); ?>
        var goods = <?php echo json_encode($goods); ?> ;
</script>
<script type="text/javascript">
    var timestamp = parseInt($.now() / 1000);
    var time_remaining = $(".time_remaining");
    var buy_btn = $(".buy_btn > a");
    $(function(){
        if(timestamp < goods.start_time) {
            buy_btn.text('尚未开始');
        } else if(timestamp > goods.end_time) {
            buy_btn.text('已经结束');
        } else {
            show_remain_time(goods.end_time - timestamp);
        }
    })

    function show_remain_time(sec) {
        var timer = null;
        timer = setInterval(function() {
            sec -= 1;
            if (sec <= 0) {
                time_remaining.html('-');
                clearInterval(timer);
                location.reload();
                return;
            }
            time_remaining.html(count_down(sec));
        }, 1000);
        time_remaining.html(count_down(sec));
    }

    function time_pad(s) {
        return Number(s) > 9 ? String(s) : "0" + String(s);
    }


    function count_down(sec) {
        var s = sec;
        var left_s = s % 60;
        var m = Math.floor(s / 60);
        var left_m = m % 60;
        var h = Math.floor(m / 60);
        var left_h = h % 24;
        var d = Math.floor(h / 24);
        var ret = [];
        sec && ret.push('剩余时间：');
        d && ret.push('<em class="d">', d, '</em>天');
        left_h && ret.push('<em class="h">', time_pad(left_h), '</em>时');
        left_m && ret.push('<em class="m">', time_pad(left_m), '</em>分');
        left_s && ret.push('<em class="s">', time_pad(left_s), '</em>秒');
        return ret.join('');
    }
</script>
{include template('footer','common')}
