/* Empty. Add your own CSS if you like*/

/* 全站顶部导航颜色 可定义 */
.bar-color {
  border-color: #fff;
  background-color: #f45a4f;
  background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
  color: #fff; }
.button:after{
    color:#ffffff;
}  
.default-title{
	display: none !important;
}

.title{
    text-align: center;
    color: #ffffff;
}

button.padding-top{
	padding-top: 0;
}
/* 定义返回按钮字体颜色 */

.head_button1 div{
    color:#ffffff;
}

.padding_head{
    padding-top:45px;
    margin-top :0px;
    background-color:#F8F8F8;
}


.tabs-color-assertive .tab-item{
    color:#999;
}

/*basic*/
.row-h-2{
    height:160px;
}
.c-h-2{
    height: 144px;
    padding-top:20%;

}
.hot_title{
    padding: 5px 8px;
    font-size: 14px;
    color: #666;
    margin:5px 0px 5px 5px;
}
.hot_title span{

    font-size: 8px;
    border-left: 3px solid red;
    margin-right: 4px;
}

.news_list{
    padding:-10px;
}

/* 启动引导 */
/*home-slide 幻灯片*/
.yindao-slide ion-slide{
    text-align: center;
    width: 100%;
    height: 100%;
}
.yindao-slide ion-slide img{
    height: 100%;
    width: 100%;
}


/*home-slide 幻灯片*/
.home-slide ion-slide{
    text-align: center;
    height: 130px;
    width: 100%;
}
.home-slide ion-slide img{
    height: 130px;
    width: 100%;
}
.home-slide .slider-pager{
    bottom: 5px;
}
.home-slide .slider-pager .slider-pager-page{
    font-size: 8px;
}


/*first_list*/

.first-list .col{

    height:85px;
    text-align:center;
    line-height:32px;
}
.first-list .col.light div{
    text-align:left;
}
.first-list .col .icon{
    font-size:32px;
}

/*修改默认tab的颜色*/
.tabs-color-positive .tab-item {
    color:#999;
    opacity: 1; }
.tabs-color-positive .tab-item .badge {
    opacity: 0.8; }

/*列表*/

.topics_list .list{
    padding-top:0px;
}

.topics_list .item h2{

    white-space: normal;
    line-height: 150%;
}


.item-thumbnail-left, .item-thumbnail-left .item-content{
padding-left: 84px;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image{

    width: 60px;
    height: 60px;
}

/*二级菜单*/
.bar .sub_header_list .button.button-clear{

border-bottom: 1px solid #eee;
}
.sub_header_list{
    width: 100%;

}
.sub_header_list .button{
    color:#666;
}
.bar .sub_header_list .button.sub_button_select{
    border-bottom:2px solid #f45a4f;
    position:relative;
    color:#f45a4f;
}
.bar-subheader{
    border-bottom: none;
}


/*文章内容*/
.article_content{

}
.article_content img{
    max-width: 80%;

}
/*setting*/


.setting .avatar {
    width: 50px;
    border-radius: 10px;
    vertical-align: middle; }
.setting .login {
    text-align: center;
    background-color: #4EB554; }

.categorylists {

position: absolute;
    left:1px;
    top:25px;
    width:150px;
    background-color:#F8F8F8;
    margin-left:1px;
}   

/*=== List Styles ===*/

.showcase-form textarea .ng-dirty.ng-invalid,
.showcase-form select .ng-dirty.ng-invalid,
.showcase-form input.ng-dirty.ng-invalid {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

/*label 高度 和宽度定义*/
.new-form{

}
.new-form label{
    max-height:50px;
    min-height:50px;   
}
.new-form i {
    font-size:18px;
}
.new-form input{
    font-size:16px;
}

/*试用列表样式*/


 *{ list-style: none; margin:0; padding:0; font-family: "微软雅黑"; }
    b{ font-weight: 100; }
    b.cc{ color:#ff4400; }
    .clear{ overflow:hidden; }
    .fl{ float:left; }
    .fr{ float:right; }
    .list_w{ margin:0.5em 0; border:solid 1px #efefef; box-sizing:border-box; padding:0.25em 1%; width:98%; }
    .list_w .txt li,.flex{
        -webkit-box-flex:1;
        -moz-box-flex:1;
        -ms-box-flex:1;
        box-flex:1;
    }
    .list_w .txt li{
        line-height:2em;
        height:2em;
    }
    .list_w .txt,.list_w{
        display:-webkit-box;
        display:-moz-box;
        display:-ms-box;
        display:box;
    }
    .list_w .txt{
        -webkit-box-orient:vertical;
        -moz-box-orient:vertical;
        -ms-box-orient:vertical;
        box-orient:vertical;
    }
    .txt-flow{ display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
    .list_w .img{ width:27.5%; height:6em; overflow:hidden;  }
    .list_w .img img{ width:100%; min-height:100%; }
    .list_w .txt{ padding:0 0.5em; }
    .list_w .txt img{ vertical-align: middle; margin:0 0.125em; }
    .list_w .txt .ico_1::before{ color:#fff; text-align: center; line-height:1.3em; border-radius:3px; background:#e42012; content:"淘"; display:inline-block; width:1.3em; height:1.3em; margin:0 .25em; }
    .list_w .txt .hd_3::after{ margin-left:5%; content:"红包任务"; height:1.3em; line-height:1.3em; background:#ff4400; color:#fff; padding:0 1.6%; border-radius:3px; display:inline-block; }
    .list_w .txt .hd_2::after{ margin-left:5%; content:"拍A送B"; height:1.3em; line-height:1.3em; background:#ff9201; color:#fff; padding:0 1.6%; border-radius:3px; display:inline-block; }
    .list_w .w1_4{ width:50%; }
    .list_w .w1_6{ width:50%; }
 
    .list_w .txt .xd_2::after{ margin-left:5%; content:"搜索下单"; height:1.3em; line-height:1.3em; background:#ff9201; color:#fff; padding:0 1.6%; border-radius:3px; display:inline-block; }

/* 我的订单按钮 绝对定位 */

.ordrer_button{
    font-size:10px;
    position: absolute;
   /*  margin-top:5px;  */
    padding-left: 5px;
    left: 1px;
}

.ordrer_button2{
    font-size:10px;
    position: absolute;
    margin-top:-10px; 
    padding-left: 5px;
    left: 1px;
}

/*首页列表样式*/

 *{ margin:0; padding:0; list-style: none; font-family: "微软雅黑"; }
 .flex{
  overflow: hidden;
  width:100%;
 }
 .child{
  float:left;
  width:48%;
  border:solid 1px #efefef;
  margin:0.25em 1%;
  text-align: center;
 }
 .box-wrap .title{ font-size:1em; font-weight: 100; text-align:center; padding:0.25em 0; margin:0; line-height:1.3em; }
 .fl{ float:left; }
 .fr{ float:right; }
 .box-wrap .s1{ text-decoration:line-through; }
 .box-wrap .c-a{ color:#e42012; }
 .box-wrap .box{ display:block; }
 .box-wrap .box img{ width:100%; }
 .box-wrap .box .box-txt{ width:100%; overflow: hidden; }
 .box-wrap .box .box-txt div{ font-size:0.875em; text-align: center; width:50%; float:left; }
 .box-wrap .box .box-txt div.s1{ text-decoration: line-through; }
 .box-wrap .box .box-txt div.s2{ color:#e42012; } 

 .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 1px;
  width: 100%;
} 


.indexNav{}
.indexNav .part{ width:25%; padding:0px 10px; text-align:center; float:left;color:#000; text-decoration:none; padding-bottom:10px; font-size:14px; display:block}
.indexNav .part img{ width:80%}
.indexNav .part .a2{ color: #565656;
 }

.indexProList{}
.indexProList .part{ width:50%; padding:0px 5px; float:left;color:#000; text-decoration:none; padding-bottom:10px; font-size:14px; display:block; }
.indexProList .part .co{ border:1px solid #efefef}
.indexProList .part .a1 img{ width:100%;height: 175.5px;}
.indexProList .part .a2{text-align:center; overflow:hidden; height:20px; line-height:20px; padding:0px 10px;  }
.indexProList .part .a3 { height:24px; line-height:24px; font-size:12px; padding:0px 5px;}
.indexProList .part .a3 .L{ float:left;/*text-decoration:line-through*/}
.indexProList .part .a3 .R{ float:left;color: #F00}

 

.indexProRecommendPart{ padding:0px 5px; float:left;color:#000; text-decoration:none; padding-bottom:10px; font-size:14px; display:block ; width:33% }
.indexProRecommendPart  .co{ border:1px solid #efefef}
.indexProRecommendPart  .a1 img{ width:100%; height:auto}
.indexProRecommendPart  .a2{text-align:center; overflow:hidden; height:20px; line-height:20px; padding:0px 10px; }
.indexProRecommendPart  .a3 { height:24px; line-height:24px; font-size:12px;padding:0px 5px;}
.indexProRecommendPart  .a3 .L{ float:left;   text-decoration:line-through}
.indexProRecommendPart  .a3 .R{ float:right;  color: #F00}
 


 @media screen  and (min-width: 1080px)  {
  .ibody{ width:320px; margin:0px auto ;  }
}

.i_tryout{ font-size:14px; padding-bottom:66px;}
.i_tryout img{vertical-align:middle;}
.i_tryout .s_part2{ position:relative}
.i_tryout .s_part2 .hang1 img{ width:100% }
.i_tryout .s_part2 .hang2{ position:absolute; bottom:0px; left:0px; width:100%; height:30px; background:url(../img/a2.png) repeat; font-size:14px; color:#FFF;}
.i_tryout .s_part2 .hang2 .L{ float:left; line-height:30px; padding-left:5px;}
.i_tryout .s_part2 .hang2 .R{ float:left; font-size:12px; background:#ff4400; padding:0px 5px; border-radius:3px; height:20px; line-height:20px; margin-top:6px; margin-right:5px; margin-left:7px; }
.i_tryout .s_part2 .hang2 .R2{ float:left; font-size:12px;   background:#7bae23; padding:0px 5px; border-radius:3px; height:20px; line-height:20px; margin-top:6px; }

.i_tryout  .s_part3{  padding-bottom:10px; position:relative;border-bottom:1px solid #dcdcdc;}
.i_tryout  .s_part3 .hang1{ text-align:center; height:35px; line-height:35px; border-bottom:1px solid #dcdcdc}
.i_tryout  .s_part3 .hang1 span{ color:#e42012;font-weight:bolder }
.i_tryout  .s_part3 .hang2{ padding:10px 0px; font-size:12px;border-bottom:1px solid #dcdcdc}
.i_tryout  .s_part3 .hang2 span{float:left; padding-left:5px; height:24px; line-height:24px;}
.i_tryout  .s_part3 .hang2 .a1{ width:40%}
.i_tryout  .s_part3 .hang2 .a2{ width:60%}

.i_tryout  .s_part3 .hang3{ }
.i_tryout  .s_part3 .hang3 {height:40px; line-height:40px; text-align:center}
.i_tryout  .s_part3 .hang3  img{ vertical-align:-15%}

.i_tryout  .s_part3 .hangj{border-top:1px solid #dcdcdc; }


.i_tryout  .s_part3 .hang4{border-top:1px solid #dcdcdc;}
.i_tryout  .s_part3 .hang4 .ti{height:30px; line-height:30px; padding-left:10px; color:#e42012; padding-top:5px;font-weight:bolder}
.i_tryout  .s_part3 .hang4 .co{line-height:24px; padding-left:10px; padding-bottom:10px;}

.i_tryout  .s_part3 .hang5{}
.i_tryout  .s_part3 .hang5 .ti{ height:30px; line-height:30px; padding-left:10px;padding-top:5px; font-weight:bolder}
.i_tryout  .s_part3 .hang5 .co{   line-height:24px; padding-left:10px;}
.i_tryout  .s_part3 .hang6{ position:absolute; right:20px; top:150px;}

.i_tryout_s_part4{ text-align:center; padding:15px 0px; background:#fff; position:fixed; bottom:0px; width:100%; z-index:999}
.i_tryout_s_part4  a{ display: inline-block; padding:0px 15px; margin:0px 5px; border-radius:3px; border:1px solid #e42012; color:#e42012; height:36px; line-height:36px;} 
.i_tryout_s_part4 .a1{ background:#e42012; color:#FFF}
.i_tryout_s_part4  a:active{ background:#cb170a;color:#FFF}


.i_tryout .s_part6{  margin:0px 10px;margin-top:10px;}
.i_tryout .s_part6 .part{ width:33.3%; float:left; border:1px solid #515151;border-radius:5px 5px 0px 0px; border:1px solid #CCC; height:30px; line-height:30px; text-align:center; margin-top:10px; }
.i_tryout .s_part6  .sel{ height:40px; line-height:40px; margin-top:0px; color:#F00; border-bottom:1px solid #f8f8f8   }
.i_tryout .s_part7  { line-height:24px; padding-top:10px; margin:0px 10px;}
.i_tryout .s_part7   img{ width:80%; margin:0px 10%}


.i_tryout .s_part8{ font-size:14px}
.i_tryout .s_part8 a{ text-decoration:none}
.i_tryout .s_part8  .list{ padding-top:15px;}
.i_tryout .s_part8  .list a{ display:block; float:left; width:25%; padding:0px 10px; color:#000; padding-bottom:10px; text-align:center}
.i_tryout .s_part8  .list a .hang1{border-radius:50%; padding:1px;border:1px solid #ccc ; }
.i_tryout .s_part8  .list a .hang1 img{ width:100%;border-radius:50%; }

.i_tryout .s_part8  .tis{ text-align:center; line-height:40px;  }

.i_tryout .s_part9 .no{ text-align:center;line-height:40px; }
.i_tryout .s_part9  .list{ padding-top:10px;}
.i_tryout .s_part9  .list .hang{ padding:0px 10px;}
.i_tryout .s_part9  .list .hang td{ vertical-align:top}
.i_tryout .s_part9  .list .hang  .L { width:60px; text-align:center}
.i_tryout .s_part9  .list .hang  .L .co{  border-radius:50%; padding:1px;border:1px solid #ccc ;  }
.i_tryout .s_part9  .list .hang  .L  .co img{ width:100%;border-radius:50%;}


.i_tryout .s_part9  .list .hang  .R{ padding-left:5px; }
.i_tryout .s_part9  .list .hang  .R .a1{ line-height:24px;}
.i_tryout .s_part9  .list .hang  .R .a1 img{ width:80%; margin:0px 10%}
.i_tryout .s_part9  .list .hang  .R .a2{ text-align:right}


a{ text-decoration:none ; color:#666 } 
.tryoutProListAdd{ display:block;margin-left: 27.5%; padding-bottom:5px; padding-top:1px; }
.tryoutProListAdd .hang1{ }
.tryoutProListAdd .hang1 .L{ float:left; height:16px; width:16px; line-height:16px; text-align: center;border-radius:2px; color:#FFF; margin-top:4px; margin-right:5px;}
.tryoutProListAdd .hang1 .R{ float:left ; height:24px; line-height:24px; }


.list_w:active{ background:#e5e5e5}

.clearfix{ height:0px; clear:both}

.i_rebate{}
.i_rebate .s_ti{ height:20px; line-height:20px; margin-top:10px;}
.i_rebate .s_ti a{ text-align:center; width:33.3%; float:left; display:block}
.i_rebate .s_ti .sel{ color:#ff4400; border-bottom:1px solid #ff4400}
.i_rebate .s_list{}
.i_rebate .s_list td{ vertical-align:top}
.i_rebate .s_list  .hang{ padding:10px 10px; border-bottom:1px solid #e5e5e5; display:block;}
.i_rebate .s_list .L{ width:90px;}
.i_rebate .s_list .L img{ width:90px; height:90px;}
.i_rebate .s_list .R{ padding-left:5px; color:#000}
.i_rebate .s_list .R .part1{ padding-top:5px;}
.i_rebate .s_list .R .part1 .a1{ float:left;}
.i_rebate .s_list .R .part1 .a2{ float:left ;padding-left:5px;}
 
.i_rebate .s_list .R .part2{ line-height:30px; font-size:12px}
.i_rebate .s_list .R .part2 span{ color:#ff4400}
.i_rebate .s_list .R .part3 { font-size:12px; padding-top:10px;}
.i_rebate .s_list .R .part3 .a1{ float:left; margin-right:10px;  height:16px; line-height:16px;background:#ff4400; color:#FFF;border-radius:3px; padding:0px 5px; margin-top:2px;}
.i_rebate .s_list .R .part3 .a2{ float:left}

.i_rebate .s_list a:active{ background:#e5e5e5}
 
.i_moneyEveryday .s_img{}
.i_moneyEveryday .s_img img{ width:100%}
.i_moneyEveryday .s_ti{ height:20px; line-height:20px; margin-top:10px;}
.i_moneyEveryday .s_ti a{ text-align:center; width:50%; float:left; display:block}
.i_moneyEveryday .s_ti .sel{ color:#ff4400; border-bottom:1px solid #ff4400}

.i_moneyEveryday .s_list{}
.i_moneyEveryday .s_list td{ vertical-align:top}
.i_moneyEveryday .s_list  .hang{ padding:10px 10px; border-bottom:1px solid #e5e5e5; display:block;}
.i_moneyEveryday .s_list .L{ width:90px;}
.i_moneyEveryday .s_list .L img{ width:90px; height:90px;}
.i_moneyEveryday .s_list .R{ padding-left:5px; color:#000}
.i_moneyEveryday .s_list .R .part1{}
.i_moneyEveryday .s_list .R .part1 .a1{ float:left; width:16px; height:16px; line-height:16px; text-align:center; background:#ff4400; color:#FFF;border-radius:3px; margin-top:3px; font-size:12px }
.i_moneyEveryday .s_list .R .part1 .a2{ float:left; padding-left:5px;}
.i_moneyEveryday .s_list .R .part2{ line-height:30px; font-size:12px;padding-top:5px; padding-bottom:5px;}
.i_moneyEveryday .s_list .R .part2 .a1{ padding-right:10px; line-height:18px; color:#999; }
.i_moneyEveryday .s_list .R .part2 .a2{ width:60px; }
.i_moneyEveryday .s_list .R .part2 .a2 .co{text-align:center; background:#e42012; height:30px; line-height:30px;border-radius:5px; color:#FFF}
.i_moneyEveryday .s_list .R .part3 .a1{ float:left}
.i_moneyEveryday .s_list .R .part3 .a2{ float:left; padding-left:10px;}
.i_moneyEveryday .s_list .R .part3  span{ color:#e42012}
.i_moneyEveryday  .s_list  a:active{ background:#e5e5e5}



.i_rebateDetail{ font-size:14px; padding-bottom:66px;}
.i_rebateDetail img{vertical-align:middle;}
.i_rebateDetail .s_part2{ position:relative}
.i_rebateDetail .s_part2 .hang1 img{ width:100%}
.i_rebateDetail .s_part2 .hang2{ position:absolute; bottom:0px; left:0px; width:100%; height:30px; background:url(../img/a2.png) repeat; font-size:14px; color:#FFF;}
.i_rebateDetail .s_part2 .hang2 .L{ float:left; font-size:12px; background:#ff4400; padding:0px 5px; border-radius:3px; height:20px; line-height:20px; margin-top:6px; margin-right:5px; margin-left:7px; }
.i_rebateDetail .s_part2 .hang2 .R{ float:left; line-height:30px; padding-left:5px;}
.i_rebateDetail .s_part2 .hang3{  position:absolute; top:0px; left:0px; width:70px; height:70px; background:url(../img/a16.png); font-size:14px; color:#FFF; text-align:center; line-height:70px; font-size:24px}


.i_rebateDetail  .s_part3{  padding-bottom:10px; position:relative;border-bottom:1px solid #dcdcdc;}
.i_rebateDetail  .s_part3 .hang1{ text-align:center; height:35px; line-height:35px; border-bottom:1px solid #dcdcdc}
.i_rebateDetail  .s_part3 .hang1 span{ color:#ff4400;font-weight:bolder }


.i_rebateDetail  .s_part3 .hang2{ padding:10px 0px; font-size:12px;border-bottom:1px solid #dcdcdc}
.i_rebateDetail  .s_part3 .hang2 span{float:left; padding-left:5px; height:24px; line-height:24px; }
.i_rebateDetail  .s_part3 .hang2 .a1{ width:55%}
.i_rebateDetail  .s_part3 .hang2 .a2{ width:45%}

.i_rebateDetail  .s_part3 .hang3{ background:#f2f2f0;text-align:center; height:30px; line-height:30px; margin-top:10px;}
.i_rebateDetail  .s_part3 .hang3 img{ vertical-align: middle}
.i_rebateDetail  .s_part3 .hang3 span{ color:#ff4400; font-weight:bold }


.i_rebateDetail  .s_part3 .hang5{}
.i_rebateDetail  .s_part3 .hang5 .ti{ height:30px; line-height:30px; padding-left:10px;padding-top:5px; font-weight:bolder}
.i_rebateDetail  .s_part3 .hang5 .co{   line-height:24px; padding-left:10px; color:#ff4400}



.i_rebateDetail_s_part4{ text-align:center; padding:15px 0px; background:#fff; position:fixed; bottom:0px; width:100%; z-index:999}
.i_rebateDetail_s_part4  a{ display: inline-block; padding:0px 60px; margin:0px 5px; border-radius:3px; border:1px solid #e42012; color:#e42012; height:36px; line-height:36px;} 
.i_rebateDetail_s_part4 .a1{ background:#e42012; color:#FFF;  }
.i_rebateDetail_s_part4  a:active{ background:#cb170a;color:#FFF}


.i_rebateDetail .s_part6{  margin:0px 10px;margin-top:10px;}
.i_rebateDetail .s_part6 .part{ width:33.3%; float:left; border:1px solid #515151;border-radius:5px 5px 0px 0px; border:1px solid #CCC; height:30px; line-height:30px; text-align:center; margin-top:10px; }
.i_rebateDetail .s_part6  .sel{ height:40px; line-height:40px; margin-top:0px; color:#F00; border-bottom:1px solid #f8f8f8   }
.i_rebateDetail .s_part7  { line-height:24px; padding-top:10px; margin:0px 10px;}
.i_rebateDetail .s_part7   img{ width:80%; margin:0px 10%}


.i_rebateDetail .s_part8{ font-size:14px}
.i_rebateDetail .s_part8 a{ text-decoration:none}
.i_rebateDetail .s_part8  .list{ padding-top:15px;}
.i_rebateDetail .s_part8  .list a{ display:block; float:left; width:25%; padding:0px 10px; color:#000; padding-bottom:10px; text-align:center}
.i_rebateDetail .s_part8  .list a .hang1{border-radius:50%; padding:1px;border:1px solid #ccc ; }
.i_rebateDetail .s_part8  .list a .hang1 img{ width:100%;border-radius:50%; }
.i_rebateDetail .s_part8  .tis{ text-align:center; line-height:40px;  }

.i_rebateDetail .s_part9 .no{ text-align:center;line-height:40px; }
.i_rebateDetail .s_part9  .list{ padding-top:10px;}
.i_rebateDetail .s_part9  .list .hang{ padding:0px 10px;}
.i_rebateDetail .s_part9  .list .hang td{ vertical-align:top}
.i_rebateDetail .s_part9  .list .hang  .L { width:60px; text-align:center}
.i_rebateDetail .s_part9  .list .hang  .L .co{  border-radius:50%; padding:1px;border:1px solid #ccc ;  }
.i_rebateDetail .s_part9  .list .hang  .L   .co img{ width:100%;border-radius:50%;}
.i_rebateDetail .s_part9  .list .hang  .R{ padding-left:5px; }
.i_rebateDetail .s_part9  .list .hang  .R .a1{ line-height:24px;}
.i_rebateDetail .s_part9  .list .hang  .R .a1 img{ width:80%; margin:0px 10%}
.i_rebateDetail .s_part9  .list .hang  .R .a2{ text-align:right}

.i_bill{}
.i_bill .part{ padding:5px 0px; border-bottom:1px solid #ededed}
.i_bill .part .L{ float:left}
.i_bill .part .L .hang1{}
.i_bill .part .L .hang2{ color:#CCC}
.i_bill .part .R{ float:right; padding-top:10px;}



.i_PointsList .s_img{}
.i_PointsList .s_img img{ width:100%}
.i_PointsList .s_ti{ height:20px; line-height:20px; margin-top:10px;}
.i_PointsList .s_ti a{ text-align:center; width:50%; float:left; display:block}
.i_PointsList .s_ti .sel{ color:#ff4400; border-bottom:1px solid #ff4400}

.i_PointsList .s_list{}
.i_PointsList .s_list td{ vertical-align:top}
.i_PointsList .s_list  .hang{ padding:10px 10px; border-bottom:1px solid #e5e5e5; display:block;}
.i_PointsList .s_list .L{ width:70px;}
.i_PointsList .s_list .L img{ width:70px; height:70px;}
.i_PointsList .s_list .R{ padding-left:10px; color:#000}
.i_PointsList .s_list .R .part1{ padding-top:2px;}
.i_PointsList .s_list .R .part1 .a1{ float:left; width:16px; height:16px; line-height:16px; text-align:center; background:#ff4400; color:#FFF;border-radius:3px; margin-top:3px; font-size:12px }
.i_PointsList .s_list .R .part1 .a2{ float:left; padding-left:5px;}
.i_PointsList .s_list .R .part2{ line-height:30px; font-size:12px;padding-top:3px; padding-bottom:2px;}
.i_PointsList .s_list .R .part2 .a1{ padding-right:10px; line-height:18px; padding-top:5px;  }
.i_PointsList .s_list .R .part2 .a2{ width:70px; }
.i_PointsList .s_list .R .part2 .a2 .co{text-align:center; background:#e42012; height:24px; line-height:24px;border-radius:3px; color:#FFF}
 .i_PointsList .s_list .R .part3 { font-size:12px }
.i_PointsList .s_list .R .part3  span{ color:#e42012}

.i_PointsList  .s_list  a:active{ background:#e5e5e5}



.i_PointsDetail{ font-size:14px; }
.i_PointsDetail img{vertical-align:middle;}
.i_PointsDetail .s_part2{ position:relative}
.i_PointsDetail .s_part2 .hang1 img{ width:100%}
.i_PointsDetail .s_part2 .hang2{ position:absolute; bottom:0px; left:0px; width:100%; height:30px; background:url(../img/a2.png) repeat; font-size:14px; color:#FFF;}
.i_PointsDetail .s_part2 .hang2 .L{ float:left; font-size:12px; background:#ff4400; padding:0px 5px; border-radius:3px; height:20px; line-height:20px; margin-top:6px; margin-right:5px; margin-left:7px; }
.i_PointsDetail .s_part2 .hang2 .R{ float:left; line-height:30px; padding-left:5px;}
.i_PointsDetail .s_part3 { text-align:center;  }
.i_PointsDetail .s_part3 div{height:35px; line-height:35px; border-bottom:1px solid #d9d9d9  }
.i_PointsDetail .s_part3  span{ color:#e42012}
.i_PointsDetail .s_part4{ line-height:24px; padding:5px 10px;}
.i_PointsDetail .s_part4  span{ color:#e42012}

.i_PointsDetail .s_part5{ padding-bottom:10px; }
.i_PointsDetail .s_part5 a{ width:80%; margin:0px auto; height:30px; line-height:30px; background:#e42012; display:block; text-align:center;border-radius:5px; color:#FFF }
.i_PointsDetail .s_part5 a:active{ background:#c81b0e}

.i_PointsDetail .s_part6{ text-align:center; padding:10px 0px;}
.i_PointsDetail .s_part6 .L{ display:inline-block}
.i_PointsDetail .s_part6 .R{display:inline-block}
.i_PointsDetail .s_part6 .R span{display:inline-block; color:#999; padding:0px 10px; margin-right:3px; border:1px solid #CCC}
.i_PointsDetail .s_part6 .R .sel{ color:#F00;border:1px solid #F00}

.i_tryList{}
.i_tryList .s_img img{ width:100%}
.i_tryList .s_list{} 
.i_tryList .s_list .hang{ display:block; padding:10px 10px; border-bottom:1px solid #dcdcdc} 
.i_tryList .s_list .hang .L{ float:left; color:#000; line-height:22px;}
.i_tryList .s_list .hang .L span{ color:#e42012}
.i_tryList .s_list .hang .R{ float:right; width:90px; text-align:center; height:30px; line-height:30px; text-align:center; background:#e42012; color:#FFF; font-size:14px;border-radius:5px; margin-top:19px; font-size:12px}
.i_tryList .s_list .hang .R2{ float:right; width:90px; text-align:center; height:30px; line-height:30px; text-align:center; background:#515151; color:#FFF; font-size:14px;border-radius:5px; margin-top:19px; font-size:12px }




.i_tryDetail{ font-size:14px; }
.i_tryDetail img{vertical-align:middle;}
.i_tryDetail .s_part2{ position:relative}
.i_tryDetail .s_part2 .hang1 img{ width:100%}
.i_tryDetail .s_part2 .hang2{ position:absolute; bottom:0px; left:0px; width:100%; height:30px; background:url(../img/a2.png) repeat; font-size:14px; color:#FFF;}
.i_tryDetail .s_part2 .hang2 .L{ float:left; font-size:12px; background:#ff4400; padding:0px 5px; border-radius:3px; height:20px; line-height:20px; margin-top:6px; margin-right:5px; margin-left:7px; }
.i_tryDetail .s_part2 .hang2 .R{ float:left; line-height:30px; padding-left:5px;}
.i_tryDetail .s_part3 { text-align:center; font-size:12px; padding:10px 0px; padding-bottom:0px; }
.i_tryDetail .s_part3  span{ color:#e42012}

.i_tryDetail .s_part4{ line-height:24px; padding:10px 10px; border-top:1px solid #d9d9d9}
.i_tryDetail .s_part4  span{ color:#e42012}
.i_tryDetail .s_part6{ border-top:0px;}

.i_tryDetail .s_part5{ padding-bottom:10px; }
.i_tryDetail .s_part5 a{ width:80%; margin:0px auto; height:30px; line-height:30px; background:#e42012; display:block; text-align:center;border-radius:5px; color:#FFF }
.i_tryDetail .s_part5 a:active{ background:#c81b0e}


.i_tryDetail2{ background:url(../img/a9.png) 12px repeat-y ; margin:0px 5px; margin-top:10px; margin-bottom:10px; }
.i_tryDetail2 td{ vertical-align:top}
.i_tryDetail2 .part{ padding-top:10px;}

.i_tryDetail2 .R{ padding-left:10px;}
.i_tryDetail2 .R .p1{ font-size:14px;}
.i_tryDetail2 .R .p2{ font-size:12px;}
.i_tryDetail2 .R .p2 span{ color:#e6382d}
.i_tryDetail2 .R .p3{ margin-top:5px;}

.i_tryDetail2 .L .co{ width:25px; height:25px;border-radius:50%; font-family: 'Glyphicons Halflings'; background:#e6382d; color:#FFF; text-align:center; }
.i_tryDetail2 .L .co1:before{content: "\2601"; font-size:16px;}
.i_tryDetail2 .L .co2:before{content: "\e008"; font-size:16px; line-height:25px;}
.i_tryDetail2 .L .co3:before{content: "\26FA"; font-size:16px;line-height:25px;}
.i_tryDetail2 .L .co4:before{content: "\2709"; font-size:16px;}






.i_tryDetail3{ background:url(../img/a9.png) 12px repeat-y ; margin:0px 5px; margin-top:10px; margin-bottom:10px; }
.i_tryDetail3 td{ vertical-align:top}
.i_tryDetail3 .part{ padding-top:10px;}
.i_tryDetail3 .R{ padding-left:10px;}
.i_tryDetail3 .R .p1{ font-size:14px;}
.i_tryDetail3 .R .p2{ font-size:12px;}
.i_tryDetail3 .R .p2 span{ color:#e6382d}
 
.i_tryDetail3 .L .co{ width:25px; height:25px;border-radius:50%; font-family: 'Glyphicons Halflings'; background:#e6382d; color:#FFF; text-align:center; }
.i_tryDetail3 .L .co1:before{content: "\270F"; font-size:16px;}
.i_tryDetail3 .L .co2:before{content: "\E001"; font-size:16px; line-height:25px;}
.i_tryDetail3 .L .co3:before{content: "\E003"; font-size:16px;line-height:25px;}
.i_tryDetail3 .L .co4:before{content: "\E002"; font-size:16px; line-height:25px;}
.i_tryDetail3 .L .co5:before{content: "\E005"; font-size:16px; line-height:20px;}
.i_tryDetail3 .L .co6:before{content: "\26fa"; font-size:16px; line-height:25px;}
.i_tryDetail3 .L .co7:before{content: "\E006"; font-size:14px; line-height:25px;}
.i_tryDetail3 .L .co8:before{content: "\E007"; font-size:16px; line-height:25px;}




.i_tryDetail4{ background:url(../img/a9.png) 12px repeat-y ; margin:0px 5px; margin-top:10px; margin-bottom:10px; }
.i_tryDetail4 td{ vertical-align:top}
.i_tryDetail4 .part{ padding-top:10px;}

.i_tryDetail4 .R{ padding-left:10px;}
.i_tryDetail4 .R .p1{ font-size:14px;}
.i_tryDetail4 .R .p2{ font-size:12px;}
.i_tryDetail4 .R .p2 span{ color:#e6382d}
.i_tryDetail4 .R .p3{ margin-top:5px;}
.i_tryDetail4 .R .p3 img{ width:65%; padding:0px 2px;}


.i_tryDetail4 .L .co{ width:25px; height:25px;border-radius:50%; font-family: 'Glyphicons Halflings'; background:#e6382d; color:#FFF; text-align:center; line-height:25px; }
.i_tryDetail4 .L .co1{font-size:16px; line-height:22px;}
.i_tryDetail4 .L .co2:before{content: "\e009"; font-size:16px; }
.i_tryDetail4 .L .co3:before{content: "\e022"; font-size:16px;line-height:25px;}
.i_tryDetail4 .L .co4:before{content: "\e010"; font-size:16px;}
.i_tryDetail4 .L .co5:before{content: "\e011"; font-size:16px;}
.i_tryDetail4 .L .co6:before{content: "\e012"; font-size:16px;}


.i_guide{}
.i_guide .part{ padding:10px 10px; border-bottom:1px solid #dcdcdc}
.i_guide .part .p1{}
.i_guide .part .p1 .a1{ float:left; height:30px; line-height:30px; background: #ff4401; padding:0px 10px; color:#FFF;border-radius:5px;  }
.i_guide .part .p2{ padding-top:5px;}
.i_guide .part .p2 span{ color:#e42012}



.i_tryProcess{}
.i_tryProcess .part{ padding:10px 10px; border-bottom:1px solid #dcdcdc}
.i_tryProcess .part .p1{}
.i_tryProcess .part .p1 .a1{ float:left; height:30px; line-height:30px; background: #ff4401; padding:0px 10px; color:#FFF;border-radius:5px;  }
.i_tryProcess .part .p2{ padding-top:5px;}
.i_tryProcess .part .p2 span{ color:#e42012}

.i_orderDaily{ }
.i_orderDaily .part{ padding:10px; border-bottom:1px solid #dcdcdc}
.i_orderDaily .part span{ color:#e42012 }

.i_login { color:#666}
.i_login .s_part1{ background:url(../img/a30.jpg) left  center repeat-x; height:30px; line-height:30px; margin-top:5px; margin-bottom:10px;}
.i_login .s_part1 .co{ width:100px; margin:0px auto; line-height:30px; background:#eeeeec; text-align:center }
.i_login .s_part2{ margin:0px  80px;}
.i_login .s_part2 .p{ float:left; width:33.3%; text-align:center}
.i_login .s_part2 .p .a1 { height:40px; line-height:40px;}
.i_login .s_part2 .p .a1 img{ vertical-align:top}

 


.i_userCenter2 { background: url(../img/a32.jpg) no-repeat;  height:116px; background-size:100% 100% }
.i_userCenter2 td{ vertical-align:top}
.i_userCenter2 .L{ text-align:center; width:100px; padding-top:10px; color:#FFF;}
.i_userCenter2 .L .a1 .co{ width:66px;border-radius:50%; border:3px  solid #FFF; margin-left:17px;  }
.i_userCenter2 .L img{ width:60px; height:60px; vertical-align:middle;border-radius:50%;}
.i_userCenter2 .L .a2{font-size:12px; line-height:24px;}
.i_userCenter2 .R{}
.i_userCenter2 .R .hang1{ line-height:20px; height:20px; color:#FFF; margin-top:10px;}
.i_userCenter2 .R .hang2{ line-height:20px; height:20px; color:#FFF}
.i_userCenter2 .R .hang1 a,.i_userCenter2 .R .hang2 a{ border-radius:3px; border:1px solid #FFF; padding:0 5px; height:20px; line-height:20px; font-size:12px; color:#FFF; margin-left:10px; }
.i_userCenter2 .R .hang3{ padding-top:5px;}
.i_userCenter2 .R .hang3 a{ display:block; float:left; border-radius:3px; border:2px solid #FFF; padding:0px 15px; height:24px; line-height:20px; font-size:12px; color:#FFF; margin-right:10px; }



.i_userCenter3,.i_userCenter5{
    height:116px;
    background: #EF5C29;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.i_userCenter5{
    background: #18BFFD;
}
.i_userCenter4{

}
.i_userCenter4 .left{
    font-size: 12px;
    padding: 20px 10px;
    float: left;
    width: 33%;
    border-right: 1px solid #ddd;
    color: #999;
}
.i_userCenter4 .right{
    font-size: 12px;
    padding: 20px 10px;
    float: left;
    width: 33%;
    color: #999;
}
.i_userCenter4 h3{
    color: #EF5C29;
    margin: 0;
}
.change_to_btn{width: 49%!important;float: left!important;margin-left: 1%}

.i_invite{}
.i_invite .s_part1 img{ width:100%}
.i_invite .s_part2{ border-bottom:1px solid #eeeeee; padding:5px 0px;}
.i_invite .s_part2 .hang1{ text-align:center; line-height:30px; }
.i_invite .s_part2 .hang1 span{ color:#e42012}
.i_invite .s_part2 .hang2{ width:70%; margin:0px auto;border-radius:5px; background:#ff9200; height:35px; line-height:35px;  text-align:center;   }
.i_invite .s_part2 .hang2 a{ color: #FFF}
.i_invite .s_part3 .ti{ border-left:1px solid #ff9200; height:16px; line-height:16px; margin:10px 0px; margin-left:5px; font-size:14px; padding-left:5px; font-weight:bolder}
.i_invite .s_part3 .ti2{}
.i_invite .s_part3 .ti2 .a1{ float:left; width:30%; padding-left:10px;}
.i_invite .s_part3 .ti2 .a2{ float:left; width:30%}
.i_invite .s_part3 .ti2 .a3{ float:left; width:40%; text-align:center}
.i_invite .s_part3 .list{ border-bottom:1px solid #eeeeee; padding-bottom:10px;}
.i_invite .s_part3 .list .hang{ height:22px; line-height:22px; margin:5px 0px;}
.i_invite .s_part3 .list .a1{ float:left; width:30%; padding-left:10px; margin-top:3px;}
.i_invite .s_part3 .list .a2{ float:left; width:30%}
.i_invite .s_part3 .list .a3{ float:left; width:40%; text-align:center; color:#ff9200}
.i_invite .s_part3 .list .a1 div{ width:18px; height:16px; line-height:16px; text-align:center; color:#FFF; background:#ff9200;border-radius:2px; margin-left:3px;  }


.i_invite .s_part4 .ti{ border-left:1px solid #ff9200; height:16px; line-height:16px;   margin-left:5px; font-size:14px; padding-left:5px; margin-top:10px;font-weight:bolder}
.i_invite .s_part4  .list{border-bottom:1px solid #eeeeee; padding-bottom:10px; }
.i_invite .s_part4  .list .hang{ height:22px; line-height:22px; margin:10px 0px; padding:0px 10px;}
.i_invite .s_part4  .list  .hang .L{ float:left}
.i_invite .s_part4   .list .hang .R{ float:right; background:url(../img/a35.png); width:105px; height:25px; line-height:22px; text-align:center; color:#FFF; padding-top:3px;}


.i_invite .s_part5 .ti{ border-left:1px solid #ff9200; height:16px; line-height:16px;   margin-left:5px; font-size:14px; padding-left:5px; margin-top:10px;font-weight:bolder}
.i_invite .s_part5 .list{ padding:0px 10px;}
.i_invite .s_part5 .list .hang{ background:url(../img/a36.png)  left 7px no-repeat; padding-left:16px; line-height:22px; margin:5px 0px; }




.i_moneyEverydayDetail{}
.i_moneyEverydayDetail .s_part1{}
.i_moneyEverydayDetail .s_part1 img{ width:100%}
.i_moneyEverydayDetail .s_part2 .hang1{ text-align:center; line-height:30px; }
.i_moneyEverydayDetail .s_part2 .hang2{ text-align:center; line-height:30px; display: }
.i_moneyEverydayDetail .s_part2 .hang2 span{ color:#e42012}
.i_moneyEverydayDetail .s_part2 .hang3{ width:180px; margin:0px auto; display:}
.i_moneyEverydayDetail .s_part2 .hang3 .L{ width:120px; float:left}
.i_moneyEverydayDetail .s_part2 .hang3 .L input{  width:100%; border:1px solid #e42012; border-radius:3px 0px 0px 3px; height:27px; line-height:25px; padding-left:10px;}
.i_moneyEverydayDetail .s_part2 .hang3 .R{ width:60px; float:left; text-align:center; font-size:12px; background:#e42012; color:#FFF; height:27px; line-height:27px; border-radius:0px 3px 3px 0px;}
.i_moneyEverydayDetail .s_part2 .hang4{ width:80%; margin:0px auto; background:#666; color:#FFF; text-align:center; height:35px; line-height:35px; border-radius:10px;  display:none}
.i_moneyEverydayDetail .s_part2 .hang5{ line-height:40px; text-align:center;}

.i_moneyEverydayDetail .s_part3{ border-top:1px solid #ccc; padding:0px 10px;}
.i_moneyEverydayDetail .s_part3 .ti{ line-height:30px; height:30px; color:#e7544a; font-size:16px}
.i_moneyEverydayDetail .s_part3 .co{ padding-bottom:10px;}


.i_aboutUs{ }
.i_aboutUs .s_part1{}
.i_aboutUs .s_part1 img{ width:100%}
.i_aboutUs .s_part2{ padding:10px 5px;}
.i_aboutUs .s_part3 .ti { padding-bottom:5px; border-bottom:1px solid #d5d5d5}
.i_aboutUs .s_part3 .ti .tico{ margin-left:3px; border-left:10px solid #e42012; padding-left:5px;}
.i_aboutUs .s_part3 .ti .a1{ font-size:16px; line-height:22px;}
.i_aboutUs .s_part3 .ti .a2{ font-size:12px; line-height:16px;}
.i_aboutUs .s_part3 .co{ padding:10px 5px;}
.i_aboutUs .s_part3 .co2{ padding:10px 0px;}
.i_aboutUs .s_part3 .co2 .p{ width:50%; float:left; text-align:center}
.i_aboutUs .s_part3 .co2 .p img{ width:100px;}



.i_aboutUs .s_part4 .ti { padding-bottom:5px; border-bottom:1px solid #d5d5d5}
.i_aboutUs .s_part4 .ti .tico{ margin-left:3px; border-left:10px solid #e42012; padding-left:5px;}
.i_aboutUs .s_part4 .ti .a1{ font-size:16px; line-height:22px;}
.i_aboutUs .s_part4 .ti .a2{ font-size:12px; line-height:16px;}
.i_aboutUs .s_part4 .co{ padding:10px 5px;}
.i_aboutUs .s_part4 .co2 img{ width:100%}
.i_aboutUs .s_part4 .co3{ text-align:center}
.i_aboutUs .s_part4 .co4{ width:300px; text-align:center; margin:0px auto; background:#e42012; color:#FFF; padding:10px 10px; border-radius:10px; margin-top:10px; }
.i_aboutUs .s_part4 .co4 a{ color:#FFF}
.i_aboutUs .s_part4 .co5{ text-align:center}
.i_aboutUs .s_part4 .co5 img{ width:300px; margin-top:10px;}


.i_exchangeRecord{}
.i_exchangeRecord .s_nav .part{ width:50%; float:left; text-align:center; height:30px; line-height:30px; margin-bottom:5px;}
.i_exchangeRecord .s_nav  .sel{ border-bottom:1px solid #e42012; color:#e42012}
.i_exchangeRecord  td{ vertical-align:top}
.i_exchangeRecord .s_list1{}
.i_exchangeRecord .s_list1  .part{ padding-bottom:10px;}
.i_exchangeRecord .s_list1 .L{ width:100px; }
.i_exchangeRecord .s_list1 .L img{ width:100px; height:100px; vertical-align:middle}
.i_exchangeRecord .s_list1 .R{ padding-left:10px;}
.i_exchangeRecord .s_list1 .R .hang1{ line-height:24px;}
.i_exchangeRecord .s_list1 .R .hang2{ font-size:12px}
.i_exchangeRecord .s_list1 .R .hang2 span{ color:#e42012}
.i_exchangeRecord .s_list1 .R .hang3{ text-align:right}
.i_exchangeRecord .s_list1 .R .hang3 a{ display:inline-block; padding:0px 20px; height:30px; line-height:30px; background:#e42012; border-radius:5px; color:#FFF;margin-right:10px; }


.i_exchangeRecord .s_list2  .part{ padding-bottom:10px;}
.i_exchangeRecord .s_list2 .L{ width:100px; }
.i_exchangeRecord .s_list2 .L img{ width:100px; height:100px; vertical-align:middle}
.i_exchangeRecord .s_list2 .R{ padding-left:10px;}
.i_exchangeRecord .s_list2 .R .hang1{ line-height:24px;}
.i_exchangeRecord .s_list2 .R .hang2{ font-size:12px; line-height:14px;}
.i_exchangeRecord .s_list2 .R .hang2 span{ color:#e42012}
.i_exchangeRecord .s_list2 .R .hang3{ text-align:right; }
.i_exchangeRecord .s_list2 .R .hang3 a{ display:inline-block; padding:0px 20px; height:30px; line-height:30px; background:#e42012; border-radius:5px; color:#FFF ;margin-right:10px;}


.i_moneyEverydayRecord{}
.i_moneyEverydayRecord .part{ padding:10px 10px; border-bottom:1px solid #e5e5e5}
.i_moneyEverydayRecord .part .L{ float:left}
.i_moneyEverydayRecord .part .L .p1{ font-size:16px}
.i_moneyEverydayRecord .part .R{ float:right}
.i_moneyEverydayRecord .part .R span{ color:#e42012}
.i_moneyEverydayRecord .no{ text-align:center; background:url(../img/a44.jpg) left center repeat-x; height:40px; line-height:40px; }
.i_moneyEverydayRecord .no .content{ display:inline-block; background:#f1f1f1; padding:0px 10px;}

.i_RecordList{}
.i_RecordList .s_list{}
.i_RecordList .s_list .hang{ height:50px; line-height:30px; padding-top:10px; border-bottom:1px solid #dcdcdc}
.i_RecordList .s_list .L{ float:left; margin-right:5px; margin-left:5px;}
.i_RecordList .s_list .L img{ width:30px; height:30px; vertical-align:middle}
.i_RecordList .s_list .R1{ float:left; width:100px;}
.i_RecordList .s_list .R2{ float:left; font-size:12px; color:#a6a6a6}
.i_RecordList .s_list .R2 span{ color:#e42012}
.i_RecordList .s_list .R3{ float:right; margin-right:5px; width:70px; text-align:center; background:#e42012;  border-radius:5px; color:#FFF }
.i_RecordList .s_list .R4{  background:#515151;  }

.i_RecordHaveSignIn{}
.i_RecordHaveSignIn .p1{ text-align:center; padding-top:50px;}
.i_RecordHaveSignIn .p1 img{ width:200px;}
.i_RecordHaveSignIn .p2{ margin-top:10px;}
.i_RecordHaveSignIn .p2 a{ width:130px; text-align:center; margin:0px auto; background:#e42012; border-radius:5px; height:32px; line-height:32px; margin:0px auto; display:block; color:#FFFFFF}


/* 内容图片区 */
.introduction { line-height:24px; padding-top:10px; margin:0px 10px;}
.introduction img{ width:80%; margin:0px 10%}



/* 抽奖模块 */

@charset "utf-8";
/* CSS Document */


a{TEXT-DECORATION: none; color: #666;}
i{ font-style:normal}
b { font-weight:normal}
ul{width:100%}
ul ,li{list-style:none; }
.clear{ font: 0px/0px sans-serif;clear:both;display: block; height:0px; overflow:hidden}
img { border:none; vertical-align: middle; }
.hidden{display:none;}
a:hover {text-decoration:underline;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
 
.i_LotteryDrawIndex{ background:#ffec8e; } 
.i_LotteryDrawIndex .ibody{ width:320px; margin:0px auto;} 
.i_LotteryDrawIndex .s_part1{ background:url(../img/s1.png) no-repeat ; height:560px; padding-top:355px; text-align:center; background-size:320px;}
.i_LotteryDrawIndex .s_part1 img{ width: 85px;}

.i_LotteryDrawIndex .s_part2{ width:260px; margin:0px auto; height:35px; line-height:35px; background:#fb6010; text-align:center; color:#fff; font-weight:bolder;}
.i_LotteryDrawIndex .s_part2 span { color:#fffeab; font-size:16px}
.i_LotteryDrawIndex .s_part3{ width:260px; margin:0px auto; height:35px; line-height:35px; background:#ccc; text-align:center; color:#fff; font-weight:bolder;}
.i_LotteryDrawIndex .s_part4{ width:260px; margin:0px auto; height:35px; line-height:35px; background:#fb6010; text-align:center; color:#fff; font-weight:bolder;}
.i_LotteryDrawIndex .s_part4 span { color:#fffeab; font-size:16px}.s_tanc1{ display: none ; line-height:30px;}
.i_LotteryDrawIndex .s_part5{ margin-top:10px;}
.i_LotteryDrawIndex .s_part5 .ti{ text-align:center}
.i_LotteryDrawIndex .s_part5 .ti img{ width:100px;}
.i_LotteryDrawIndex .s_part5 .co { color:#000000; line-height:22px; padding-left:10px}
.i_LotteryDrawIndex .s_part5 .co span{ color:#f96410}

.i_LotteryDrawIndex .s_part6 { border-bottom:10px solid #fef0d5; padding-bottom:10px;}
.i_LotteryDrawIndex .s_part6 .ti{ text-align:center}
.i_LotteryDrawIndex .s_part6 .ti img{ width:100%;}
.i_LotteryDrawIndex .s_part6 .co { color:#f9630c}
.i_LotteryDrawIndex .s_part6 .co .h{ padding:10px 15px; border-bottom:1px solid #f9630c; }
.i_LotteryDrawIndex .s_part6 .co .h .h1 .L{ float:left;font-size: 14px;color:rgb(249, 100, 16);}
.i_LotteryDrawIndex .s_part6 .co .h .h1 .R{ float:right}
.i_LotteryDrawIndex .s_part6 .h2{font-size: 14px;color:rgb(249, 100, 16);}


.i_LotteryDrawIndex  .s_tanc1{ }
.i_LotteryDrawIndex  .s_tanc1 .bg{ width:100%; background:url(../img/s3.png) repeat; top:0px; left:0px; z-index:3; position: fixed} 
.i_LotteryDrawIndex  .s_tanc1 .content{ border-radius:5px; background:#FFF; width:90%; position: fixed; top:40%; padding:10px;margin:0px 5%; z-index:6; }
  @media screen  and (min-width: 1080px)  {
  .i_LotteryDrawIndex  .s_tanc1 .content{ width:30%; margin-left:35%}
}
 
.i_LotteryDrawIndex  .s_tanc1 .content  .p1{ text-align:center; border-bottom:1px solid #CCC; font-size:16px  }
.i_LotteryDrawIndex   .s_tanc1 .content .p2{ text-align:center; font-weight:bolder; }


/*抽奖模块结束*/


/* 全站没有订单的时候提示 */

.muyou{
    text-align: center;
}

.muyou p span{
    font-size: 18px;
}
.so_list a{
display:inline-block; 
color:#999; 
padding:5px 10px 5px;
margin-right:3px;
border:1px solid #CCC
}

.ccc{
    color:#999;
}

.cccc{ margin-left:6%; color:#ccc;
 }

.c4 {
    color: #979797;

} 
.c5 {
    color: #565656;
}

/*  *{ color:#666; }*/
  .indexProList *{ color:#999; }
  .indexProList .part .a3 .L{ color:#565656;font-size: 9px; }
  .indexProList .part .a3 .R{ float:right;font-size: 9px; /*color:#979797;*/ }

  .indexProRecommendPart .co .a2 {
     color:#565656;
  }
  .indexProRecommendPart .co .L {
     margin-left:6%; color:#979797; 
  }
  .height60{font-size:14px; max-height:60px;white-space:initial;
}

  .ion-social-cny{
      background: url(../img/cny.png) no-repeat;
      background-size: 100%;
      background-position: 0 25%;
      width: 32px;
   }
    .ion-social-gold{
        background: url(../img/gold.png) no-repeat;
        background-size: 100%;
        background-position: 0 25%;
        width: 32px;
    }