<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>验证身份-忘记密码-{C('WEBNAME')}</title>
		<meta name="Keywords" content="{$SEO['keyword']}" />
		<meta name="Description" content="{$SEO['description']}" />
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/Move.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/setLogin.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/setIndex.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/jquery-1.6.min.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/slide.js"></script>
		<link rel="stylesheet" href="{THEME_STYLE_PATH}style/css/style.css" /> 
		<link rel="stylesheet" href="{THEME_STYLE_PATH}style/css/find_password.css" /> 
		<script type="text/javascript" src="{JS_PATH}dialog/jquery.artDialog.js?skin=default"></script>

	</head>

	<style type="text/css">
	
.top{height:65px;width:100%;float:left;}
.top .login_logo{line-height:54px;font-weight:100;font-family:"微软雅黑";font-size:18px;height:100%;float:left;background:url({THEME_STYLE_PATH}style/images/loginHTML_logo.png) left top no-repeat;}
.top .login_nav{float:right;margin-right:30px;}
.top .login_nav > li{float:left;margin-left:20px;height:32px;width:auto;margin-top:33px;font-family:"微软雅黑";}
.top .login_nav > li a{font-size:16px;color:#676767;}

</style>
	<body>
		<div class="top">
			<div class="wrap">
				<h1 class="login_logo fontSize" style="background: none;"><img src="{C('SITE_LOGO_FU')}" alt="{C('WEBNAME')}" width="110px" height="40px" /><span>忘记密码</span></h1>
				<ul class="login_nav">
					<li><a href="{__APP__}">首页</a></li>
					<li><a href="{U('document/index/lists',array('catid'=>2))}">帮助中心</a></li>
					<li><a href="{U('document/Index/lists',array('catid'=>83))}">关于我们</a></li>
				</ul>
			</div>
		</div>
		<div class="content">			
			<div class="password_wrap">
				<ul class="at_present">
					<li class="by_bg">
						<p>1</p>
						<font>填写账户信息</font>
					</li>
					<li class="at_bg">
						<p>2</p>
						<font>验证身份</font>
					</li>
					<li class="auto_bg">
						<p>3</p>
						<font>设置新密码</font>
					</li>
					<li class="auto_bg">
						<p>4</p>
						<font>完成</font>
					</li>
				</ul>				
				<div class="aff_message_hint">
					<input type="hidden" id="email" value="{$email}">
					<span class="hint_text">确认信已经发到你的邮箱 <b>{$email}</b> ，你需要点击邮件中的确认按钮来完成设置新密码</span>
					<p class="anew_send">
						<a href="https://mail.qq.com/" class="btn">立即登录邮箱</a>没有收到邮件？<a href="javascript:;" id="js_send_email" class="anew_send_link">再发一封</a>
					</p>
				</div>
			</div>
		</div>
		{include template('forget_footer')}
	</body>
</html>
<script type="text/javascript" >
$(function(){
	$("#js_send_email").click(function(){
		var email = $("#email").val();
		$.post("{U('Member/Index/success_email')}",{username:email},function(data){
			if (data.status == 1) {
				art.dialog({
						lock: true,
						fixed: true,
						icon: 'face-smile',
						title: '提示',
						content: data.info,
						okVal: '确定',
						ok:function() { 
						}
					});
			}else{
				art.dialog({
						lock: true,
						fixed: true,
						icon: 'face-sad',
						title: '提示',
						content: data.info,
						okVal: '确定',
						ok:function() { 
						}
					});
			};

		},'json')
			
	});
});
	

</script>