<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>完成-{C('WEBNAME')}</title>
		<meta name="Keywords" content="{$SEO['keyword']}" />
		<meta name="Description" content="{$SEO['description']}" />
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/Move.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/setLogin.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/setIndex.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/jquery-1.6.min.js"></script>
		<script type="text/javascript" src="{THEME_STYLE_PATH}style/js/slide.js"></script>
		<link rel="stylesheet" href="{THEME_STYLE_PATH}style/css/style.css" /> 
		<link rel="stylesheet" href="{THEME_STYLE_PATH}style/css/find_password.css" /> 
	</head>
<style type="text/css">
	
.top{height:65px;width:100%;float:left;}
.top .login_logo{line-height:54px;font-weight:100;font-family:"微软雅黑";font-size:18px;height:100%;float:left;background:url({THEME_STYLE_PATH}style/images/loginHTML_logo.png) left top no-repeat;}
.top .login_nav{float:right;margin-right:30px;}
.top .login_nav > li{float:left;margin-left:20px;height:32px;width:auto;margin-top:33px;font-family:"微软雅黑";}
.top .login_nav > li a{font-size:16px;color:#676767;}

</style>
	<body>
		<div class="top">
			<div class="wrap">
				<h1 class="login_logo fontSize" style="background: none;"><img src="{C('SITE_LOGO_FU')}" alt="{C('WEBNAME')}" width="110px" height="40px" />重置密码完成</span></h1>
				<ul class="login_nav">
					<li><a href="{__APP__}">首页</a></li>
					<li><a href="{U('document/index/lists',array('catid'=>2))}">帮助中心</a></li>
					<li><a href="{U('document/Index/lists',array('catid'=>83))}">关于我们</a></li>
				</ul>
			</div>
		</div>
		<div class="content">			
			<div class="password_wrap">
				<ul class="at_present">
					<li class="by_bg">
						<p>1</p>
						<font>填写账户信息</font>
					</li>
					<li class="by_bg">
						<p>2</p>
						<font>验证身份</font>
					</li>
					<li class="by_bg">
						<p>3</p>
						<font>设置新密码</font>
					</li>
					<li class="at_bg">
						<p>4</p>
						<font>完成</font>
					</li>
				</ul>				
				<div class="aff_message_hint">
					<p class="succeed_hint">恭喜您，密码修改成功</p>
					<p class="jump_page">
						本页面即将在<b id="wait">3</b>秒后自动跳转到登录页，</br>
						如果没有跳转，也可以直接<a href="{__APP__}">进入登录页</a>
					</p>
				</div>
			</div>
		</div>
		{include template('forget_footer')}
	</body>
</html>

<script style="text/javascript">


$(function(){
var wait = document.getElementById('wait');
var href = "{U('Member/Index/login')}";
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>