em { font-style:noowraprmal; }
font {  }
.display_none { display:none; }
.hint {text-indent:10px;font-size:14px; height:30px; line-height:30px;float:left;width:100%; }
.hint a{font-size:14px;}

.shop_intro { width:100%; height:auto; float:left; }
.shop_big_img { float:left; width:330px; height:330px; border:solid 1px #ddd; padding:2px; position:relative;}
.shop_big_img img { border:none;width:100%; height:100%; }
.shop_big_img .small_img { height:78px; width:100%; position:absolute; bottom:5px; left:2px; }
.shop_big_img .small_img li { float:left;background:#fff; width:82px; height:100%;filter:alpha(opacity:50); opacity:0.5;}
.shop_text { height:330px; width:552px; float:left; margin-left:25px; }

/* 商家内容  */
.box_shops_message{ float:right; width:238px; height:auto; }
.shops_message { border:solid 1px #efefef;padding-bottom:10px; width:100%; height:auto; float:left; }
/* 按钮添加 */
.shops_all_shop{
	margin:10px 0;height:32px;width:240px;float:right;
}
.shops_all_shop a{
	line-height:32px;margin:0 auto;height:100%;display:block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center;
}
.shops_all_shop a:hover{
	text-decoration:underline;
}
.shops_all_shop .btn_style01:hover{
	color:#ff6600;
}
.shops_all_shop .btn_style01{
	width:158px;border:solid 1px #ddd;color:#999;
}
.shops_all_shop .btn_style02{
	width:122px;background-color: #f60;color:#fff;
}
.shops_message .user_icon { margin:0 20px; float:left; padding:2px; border:solid 1px #ddd; }
.shops_message .user_icon > img { width:81px; height:81px; }
.s_m_title { margin-bottom:20px; width:100%; height:46px; line-height:46px; background:url(../images/user_name_bg.png) repeat-x; }
.s_m_title > p { margin-left:25px; padding-left:36px; background:url(../images/vip_icon01.png) no-repeat left center; color:#fff; font-weight:100; font-size:16px; font-family:"微软雅黑"; }
.vip_approve { float:left; }
.vip_approve p { height:28px; }
.vip_approve li { color:#999; height:16px; line-height:16px; padding-left:23px;margin-bottom:6px; }
.v_app_bg_01 { background:url(../images/icon_07.png) no-repeat; }
.v_app_bg_02 { background:url(../images/icon_07.png) no-repeat left -16px; }
.v_app_bg_03 { background:url(../images/icon_07.png) no-repeat left -32px; }
.approve_flow { float:right; margin-left:20px; }
.approve_flow > h6 { line-height:46px; }
.approve_flow > li { height:31px; padding-left:10px; border-left:solid 1px #fd9aac; position:relative; }
.approve_flow > li img { width:8px; height:8px; position:relative; left:-14px; top:-3px; }
.approve_flow > li .approve_flow_img1 { width:11px; height:11px; position:relative; left:-16px; top:-3px; }
.approve_flow  .border_none{ border-left:none; }
/* 商品信息部分样式 */
.shop_text { height:330px; width:550px; float:left; margin-left:25px; }
.shop_text .shop_name{ width:100%; float:left; height:35px;margin-top:5px;font-size:16px; }
.shop_text .aciivity_mess{ width:100%; float:left;  }
.shop_text .aciivity_mess li{ margin-bottom:10px; height:35px; line-height:34px;border:solid 1px #ff6600; }
.shop_text .aciivity_mess li span{ width:130px; height:100%;float:left;background:#ff6600;font-size:14px;color:#fff;text-align:center; }
.shop_text .aciivity_mess li font{ margin-left:10px;font-size:14px; }
.shop_text .aciivity_mess li font b{ color:#f60;margin:0 5px; }
.shop_mess{ width:100%;height:96px;float:left; }
.shop_mess li{ height:auto;margin-top:20px;width:100%;float:left; }
.shop_mess .set_color span{ color:#999; }
.shop_mess li span{ float:left;margin-right:20px; }
.shop_mess li span b{ color:#bb000d;margin-right:5px; }
/* 状态 */
.answer_try_out{ background:url(../images/answer_try_out_bg.png) no-repeat 400px top; }
.search_try_out_img{ background:url(../images/search_try_out_img.png) no-repeat 400px top; }
.two_t_code_try_out_img{ background:url(../images/two_t_code_try_out_img.png) no-repeat 400px top; }
/* 价格以及按钮 分享 */
.cost_buy_btn{ height:auto;width:100%; float:left; }
.cost_buy_btn p{ width:100%;height:78px;float:left; }
.cost_buy_btn p span{ font-size:14px;border:solid 1px #ddd;text-align:center;width:190px;height:50px;line-height:50px;background:#f1f1f1;float:left; }
.cost_buy_btn p span b{color:#bb000d; fon-size:14px; }
.cost_buy_btn p span b em{ font-size:24px;font-family:"微软雅黑"; }
.cost_buy_btn > p > font{ display:block; width:;175px;heiht:auto;float:right;margin-right:75px; }
.cost_buy_btn > p > font > a{
	width:100%;float:left;background-color: #bb000d;color:#fff; height:44px;
	line-height:44px; text-align:center; display:block; font-size:14px;font-weight:700;
	-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; 
}
.cost_buy_btn p font > i{
	float:left;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	
}
.shop_buy_btn_on{ }
.shop_buy_btn_off{  }

.cost_buy_btn li{ height:20px;width:100%;float:left; }
/*
 * 原商品信息部分样式
.shop_text { height:330px; width:552px; float:left; margin-left:25px; }
.shop_t_hint { width:383px; height:35px; float:left; line-height:35px; text-indent:20px; background:#efefef; }
.shop_text > h2 { height:30px; float:left; width:100%; font-weight:100; }
.shop_text > h2 > a { font-size:16px; }
.shop_text > a { font-size:14px; display:block; width:383px; height:35px; float:left; color:#fff; line-height:35px; text-indent:20px; background:url(../images/shop_title_event.jpg) no-repeat left top;  }
.shop_text > a > img { float:right;height:18px;width:18px; margin:8px 10px 0 0; }
.shop_text .limit_count { color:#999; float:left; height:auto; margin:10px 0 18px 0; width:100%; } 
.shop_text .limit_count li { font-size:14px; float:left; width:100%; height:16px; line-height:16px; }
.shop_text .limit_count font { font-size:14px; color:#bb000d; margin:0 5px; }*/
/*.limit_time { float:left; height:auto; width:100%; }
.limit_time li { float:left; height:27px; line-height:27px; width:100%; margin-bottom:11px; }
.limit_time li  span {font-size:14px; float:left; height:27px; width:130px; background:#ff6600; text-align:center; color:#fff; }
.limit_time li  font { float:left; height:25px; width:250px; border:solid 1px #ff6600; color:#ff6600; text-indent:10px; }
.shop_price { width:320px; height:auto; float:left; line-height:35px; }
.shop_price li { width:100%; height:35px; }
.shop_price > span {color:#000; display:inline-block; height:35px; float:left; width:50%;font-size:14px; }
.shop_price > span >font{margin font-size:14px;color:#bb000d; }
.shop_price .price_title { font-size:24px; color:#ff6600; }
.shop_price .price_title span { font-size:24px; color:#bb000d; }
.shop_price .price_title span font { font-size:22px; }
.buy_btn { float:right; width:123px; height:auto; margin:10px 48px 0 0; }
.buy_btn li { width:100%;height:48px; line-height:48px; }
.buy_btn li a ,.buy_btn li span { width:100%; height:100%; display:block; text-align:center; font-size:14px; }
.btn_yes { background:#ba000d; color:#fff; }
.btn_no { background:#efefef; }*/
/*
.shops_intro { width:330px; height:auto; float:right; }
.shops_intro .shops_name { width:100%; height:48px; line-height:48px; float:left; background:url(../images/shop_rank_icon.png) no-repeat 50px center; text-indent:105px; font-weight:100; font-size:14px; }
.shops_intro .shops_logo { width:100%; height:110px; float:left; }
.shops_intro .all_shops_btn { padding:10px 0; border-bottom:dashed 1px #ddd; width:100%; height:25px; line-height:25px; text-align:center; float:left; margin:0 auto; }
.shops_intro .all_shops_btn a { width:100px; border:solid 1px #ddd; height:100%; display:block; margin:0 auto; }
.shops_intro .shop_iden img { width:74px; height:74px; float:left; margin:25px 0 0 60px; }
.buy_flow { width:100%; height:75px; float:left; margin:10px 0; }

.coll_shop a { float:right; margin-right:20px; margin-top:-5px; padding-left:16px; background:url(../images/icon_02.png) no-repeat; }	
.acti_title { width:100%; height:28px; line-height:28px; border-top:solid 5px #ba000d; border-bottom:solid 2px #ff6600; }

*/


.acti_content {
	width:880px;height:auto; float:left;border:solid 1px #ddd;
}
.acti_title{
	
}
.acti_details {padding-bottom:10px; margin-bottom:10px; color:#ba000d; margin:28px 0 0 50px; width:100%; height:auto; float:left; }
.acti_details > span { font-size:14px; font-size:14px; width:80px; height:100%; float:left; }
.acti_details > li { font-size:14px; width:770px; height:20px; float:left;margin-left:80px; }
.acti_details > .li_margin { margin:0; }
.wrap_box{
	float:left;margin-left:50px;padding-bottom:10px;
}
.express { width:100%; height:20px; margin:25px 0; line-height:20px; float:left; }
.shop_details { width:100%; height:auto; float:left; margin-bottom:20px;}
.shop_details { width:100%; height:auto; float:left; margin-bottom:20px;}
.shop_details > font { width:80px; height:100%; float:left; }
.shop_details > span { width:435px; height:24px; float:left; margin-left:80px; }
.shop_details > .span_margin { margin:0; }
.shop_details > li { width:300px; height:24px; float:left; }
.meau_chart_title { width:80px; height:auto; font-size:14px; float:left; }
.meau_chart { width:600px; height:auto; float:left; text-align:center; margin-bottom:20px; }
.meau_chart,.meau_chart tr ,.meau_chart tr td { border-collapse:collapse; border:solid 1px #666; }
.meau_chart tr { height:32px; }
.meau_chart .table_title .t_t_bg { width:47px; height:40px; padding:0 5px; background:url(../images/t_t_bg.png) no-repeat left top; }
.meau_chart .table_title .t_t_bg font,.meau_chart .table_title .t_t_bg span { height:50%; width:100%;float:left;line-height:20px; }
.meau_chart .table_title .t_t_bg font { text-align:right; }
.meau_chart .table_title .t_t_bg span { text-align:left; }

.buy_list { width:100%; height:auto; float:left; border-top:solid 2px #ff6600; margin-top:10px; }
.buy_list_title { width:100%; height:44px; line-height:44px; float:left;border:solid 1px #ddd;border-top:none; }
.buy_list_title .a_link { border-bottom:solid 2px #ff6600; }
.buy_list_title a { height:100%; width:166px; display:block; float:left; text-align:center;border-right:solid 1px #ddd; }
.buy_list_title .bor_left { border-left:solid 1px #ddd; }
.buy_user { width:100%; height:auto; float:left; }
.bor_bottom { float:left; width:100%; height:auto; border-bottom:solid 1px #ddd; }
.buy_user li { margin-top:10px; width:85px; height:85px; padding-bottom:5px; float:left; margin-left:9px; }
.buy_user li img { display:block; margin:0 auto; width:60px; height:60px; border:solid 2px #ddd;  }
.buy_user li p { text-align:center; width:100%; height:20px; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

.recom_shop { float:left; width:330px; height:auto; }
.recom_title { font-weight:100; width:100%; height:35px; line-height:35px; float:left; color:#fff; background:#ba000d; text-indent:10px; }
.recom_title a { float:right; margin-right:10px; color:#fff; }
.recom_box { width:100%; height:auto; float:left; border-bottom:solid 1px #efefef; }
.recom_box > img { width:258px; height:258px; margin:10px auto; display:block; }
.recom_box > p { width:250px;margin:0 auto; line-height:20px; text-align:center;}
.recom_box > p font { color:#ff6600; }
.recom_box > p em { color:#ba000d; }
.recom_box > p > a:hover{ color:#ff6600; text-decoration: underline; }

/* 商家布局修改 */
































