{include template('header','common')}
	<div id="wrapper">
		<div id="header-style">
			<a href="javascript:;" onclick="javascript:history.back(-1);" class="skip fl"></a>
			<strong class="d-block">注册成功</strong>
		</div>
		<div class="content bg-dedede">
			<div class="submit-succeed">
				<p class="approve-hint ap-on ap3 c-bb000d">您已成功注册</p>
				<ul class="btn-wrap">
					<li><a href="{U('Member/Profile/index')}" class="btn-s-01">立即前往个人中心</a></li>
					<li><a href="{__APP__}" class="btn-s-02">返回首页</a></li>
				</ul>
			</div>
		</div>		
	</div>
</body>
</html>