<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/duo" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">关于我们</h1>
  </div>
  <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_aboutUs">
        <div class="s_part1">
          <img src="img/a38.jpg"></div>
        <div class="s_part2 c4">
         小树林快乐挣网站是一个集购物返利，兼职创业，商家推广的第三方多功能平台。帮助商家提高销量做推广，同时也帮助会员们兼职创业，扩大社会居民增长经济收入。小树林快乐挣网站有4大板块：《购物返利》《闪电佣金》《开心任务》《28元包邮》。
        </div>
        <div class="s_part3">
          <div class="ti">
            <div class="tico">
              <div class="a1">购物返利</div>
              <div class="a2">Shopping rebate</div>
            </div>
          </div>
          <!--ti-->
          <div class="co c4">
            通过《购物返利》购买商家的产品，在一个礼拜之后能够得到商品金额的百分之20返利。也就是说在快乐挣平台购买商家产品比直接在商家店里购买商家产品便宜百分之20。择选优质商家优质产品，让每一位消费者享受更多的优惠开心购物
          </div>
      
        <!--s_part3-->
        <div class="s_part4">
          <div class="ti">
            <div class="tico">
              <div class="a1">闪电佣金</div>
              <div class="a2">Lightning Commission</div>
            </div>
          </div>
          <!--ti-->
          <div class="co c4">属于商家推广板块，也适合任何职业群体兼职创业。帮助商家推广，达到自身收入，实现共赢，让天下没有难做的生意，没有难赚的钱。</div>
          <!--s_part3-->
        <div class="s_part4">
          <div class="ti">
            <div class="tico">
              <div class="a1">开心任务</div>
              <div class="a2">Happy task</div>
            </div>
          </div>
          <!--ti-->
          <div class="co c4">商家发出的趣味活动，答对商家提的问题，即可获得商家发布的奖励，为你的心爱之物买单。</div>
          
		  <!--s_part3-->
        <div class="s_part4">
          <div class="ti">
            <div class="tico">
              <div class="a1">28元包邮</div>
              <div class="a2">Free shipping</div>
            </div>
          </div>
          <!--ti-->
          <div class="co c4">促销板块，商家可将需要促销清仓的物品发布到该类目，让出最大的利润给会员，实现最低消费购物。该板块不参与任何活动。只要是同城，购满28元即可免费配送。</div>
          
     
	  <div class="co c4"> 另外广大网商希望得到快节奏的体验营销推广，在可以收回成本的同时，能够累积商品销量，缩短新品营销推广周期，快速打造店铺爆款。
　　
为满足这两种用户的需求，以0.1~3折+包邮的体验式购物模式，快乐挣是按照CPS模式为商家提供体验式营销推广，满足商家快 速累积销量，缩短新品营销推广周期，从而达到快速打造爆款的营销效应。
　　
另外，快乐挣与试用营销模式通过试用通过券，形成互补的生态链。</div>
　　　


   <div class="co c4"> 在工作中，我们秉承：认真、快速、诚信和坚守承诺的作风；恪守：保证完成任务，绝不找任何借口，乐观自信，爱与奉献的准则；完成让天下没有难卖的商品的使命，为广大用户提供快乐的购物平台！
    </div>

        <div class="co c4">  最终解释权归小树林快乐挣平台所有！</div>
         <!--   <div class="co5"> <img src="img/a42.jpg"></div>-->
        </div> 
        <!--s_part4--> </div>
      <!--i_aboutUs--> </div>
    <!--ibody--> </ion-content>



</ion-view>