<ion-view hide-nav-bar="true" >
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">如何获知申请结果</h1>
  </div>
  <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryDetail2">
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
                <div class="p1">第一步，打开"APP"</div>
                <div class="p2">在手机上打开APP，进入APP首页</div>
                <div class="p3">
                  <img src="img/a10.jpg"></div>
              </td>
            </tr>
          </table>
        </div>
        <!--part-->
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co2">&nbsp;</div>
              </td>
              <td class="R">
                <div class="p1">第二步，进入"个人中心"</div>
                <div class="p2">进入首页后，点击个人中心并进入个人中心。</div>
                <div class="p3">
                  <img src="img/a10.jpg"></div>
              </td>
            </tr>
          </table>
        </div>
        <!--part-->
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co3"></div>
              </td>
              <td class="R">
                <div class="p1">第三步，进入"个人中心-我的试用"</div>
                <div class="p2">
                  进入个人中心后，点击
                  <span>我的试用</span>
                  即可查看到自己参与的试用活动的情况。
                </div>
                <div class="p3">
                  <img src="img/a14.jpg"></div>
              </td>
            </tr>
          </table>
        </div>
        <!--part-->
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co4"></div>
              </td>
              <td class="R">
                <div class="p1">第四步，找到您想看的活动，即可知道活动状态</div>
                <div class="p2">进入我的试用后，可以找到你所关注的活动状态</div>
                <div class="p3">
                  <img src="img/a15.jpg"></div>
              </td>
            </tr>
          </table>
        </div>

        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co4"></div>
              </td>
              <td class="R">
                <div class="p1">温馨提示；</div>
                <div class="p2">通过试用申请之后，我们会有app提醒通知</div>
                <div class="p2">闪电试用 vip会员 部分商品支持积分兑换免审</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </ion-content>
  </ion-view>