<ion-view view-title="帮助中心">
    <ion-content style="background-color:#F8F8F8">
            <ion-list>
                <ion-item class="item item-icon-left item-icon-right " ng-repeat="d in articlehelplist | orderBy:'catid':true" 
                href="#/tab/article/{{d.catid}}" collection-item-height="100px">
                <h2>{{d.catname}}</h2>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item >
        </ion-list>
    </ion-content>
</ion-view>