<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">修改不了快乐挣的昵称</h1>
  </div>
  <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
        <div class="part">
          <div class="p1">
		<p style="color:red">苹果手机<p>不支持下载APP,也不支持快乐挣修改昵称<br>
		<p style="color:red">安卓手机<p>都可以做到
          </div>
          </div>
			<div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
               
              </td>
              <td class="R">
                <div class="p1">步骤一</div>
              
                <div class="p3">
                  <img src="img/change_name1.png"style="width:95%;></div>
              </td>
            </tr>
          </table>
        </div>
		 
			<div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
               
              </td>
              <td class="R">
                <div class="p1">步骤二</div>
              
                <div class="p3">
                  <img src="img/change_name2.png"style="width:95%;></div>
              </td>
            </tr>
          </table>
        </div>
		
			
        
       
      
        
    
        </div>
      <!--i_guide--> </div>
  </ion-content>
</ion-view>