<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">如何看到我的直推</h1>
  </div>
  <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
        <div class="part">
          <div class="p1">
            <div class="a1">1、如何看到我的直推有多少人？</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          在【推荐好友】中，显示你已邀请xx名好友，这些会员是你的直推。在右上角有一个<strong style="color:red">奖励明细</strong>，可以看到近十天内你的百分之一收入。在<strong style="color:red">淘支付明细</strong>中可以看到所有历史收入。
            <a href="#/tab/invitation">点击进入</a>
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/direct_push.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
       
      
        
    
        </div>
      <!--i_guide--> </div>
  </ion-content>
</ion-view>