<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">好评时忘记截图了怎么办</h1>
  </div>
 <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
         <div class="part">
          <div class="p1">
            <div class="a1">1、登陆Go商店，点击查看全部订单</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/forget1.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
          <div class="part">
          <div class="p1">
            <div class="a1">2、点击待评价：</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/forget2.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
         
		    <div class="part">
          <div class="p1">
            <div class="a1">3、点击产品</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/forget3.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
        
			
		  <div class="part">
          <div class="p1">
            <div class="a1">4、找到商品评价</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/forget4.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
        
			 <div class="part">
          <div class="p1">
            <div class="a1">5、在评价列表里找到自己的评价，截下此图</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/forget5.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
        
        
    
        </div>
      <!--i_guide--> </div>
  </ion-content>

</ion-view>