<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">如何邀请好友加入快乐挣</h1>
  </div>
 <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
         <div class="part">
          <div class="p1">
           

            <div class="clearfix"></div>
          </div>
          <div class="p2">
         点击【更多】点击【推荐好友】点击【微信图标】发送给好友注册账号，会自动成为你的会员。也可点击【白色纸张图标】长按复制上面的注册链接给好友注册账号，自动划分到你的名下。

打开快乐挣在更多里面有推荐好友复制网址就可推荐。如下图所示：
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/invalid_friend.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
          
		  
			
		 
        
		
        
    
        </div>
      <!--i_guide--> </div>
  </ion-content>

</ion-view>