<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">下单问题</h1>
  </div>
  <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
        <div class="part">
          <div class="p1">
            <div class="a1">原因：</div><br><br>
          </div>
		  APP中付款完成后不能直接返回到快乐挣，需要一直返回，那么app或者浏览器就不会记住密码
			<div ><strong style="color:red">解决办法:</strong>复制订单编号后</div>
			<div >可返回桌面</div>
			<div >然后结束该应用程序</div>
			<div >重新进入快乐挣粘贴订单号即可。</div>
            <div class="clearfix"></div>
		  
        
			
		
			
        </div>
       
        
    
        </div>
      <!--i_guide--> </div>
  </ion-content>
</ion-view>