<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">快乐挣新手指引</h1>
  </div>
  <ion-content class="padding_head">

    <div class="ibody">
      <div class="i_tryDetail4">
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">GO</div>
              </td>
              <td class="R">
                <div class="p1">打开GO商店</div>
                <div class="p2">查看订单号需要打开GO商店，并进入GO商店。</div>
                <div class="p3">
                  <img src="img/a17.jpg"></div>
              </td>
            </tr>
          </table>
        </div>
        <!--part-->
        <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co2">&nbsp;</div>
              </td>
              <td class="R">
                <div class="p1">找到"我的商店"</div>
                <div class="p2">
                  进入GO商店后，在右下角找到"
                  <span>我的商城</span>
                  "，并点击进去，进入"
                  <span>我的商城</span>
                  "。
                </div>
                <div class="p3">
                  <img src="img/a18.jpg"></div>
                </td>
              </tr>
            </table>
          </div>
          <!--part-->
          <div class="part">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="25" class="L">
                  <div class="co co3"></div>
                </td>
                <td class="R">
                  <div class="p1">点击"我的订单"</div>
                  <div class="p2">
                    进入"我的商城"后，找到"
                    <span>我的订单</span>
                    "，并点击进去，进入"
                    <span>我的订单</span>
                    "。
                  </div>
                  <div class="p3">
                    <img src="img/a19.jpg"></div>
                </tr>
              </table>
            </div>
            <!--part-->
            <div class="part">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="25" class="L">
                    <div class="co co4"></div>
                  </td>
                  <td class="R">
                    <div class="p1">点击我的订单</div>
                    <div class="p2">
                      进入"
                      <span>我的订单</span>
                      "后，找到参与闪电佣金的订单，并点击进去，进入
                      <span>"订单详情</span>
                      "
                    </div>
                    <div class="p3">
                      <img src="img/a20.jpg"></div>
                  </tr>
                </table>
              </div>
              <!--part-->

              <div class="part">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="25" class="L">
                      <div class="co co5"></div>
                    </td>
                    <td class="R">
                      <div class="p1">进入宝贝详情页面并复制订单号</div>
                      <div class="p2">
                        进入"
                        <span>订单详情</span>
                        "后向下滑动便可以看见订单编号了，然后复制订单号即可。
                      </div>
                      <div class="p3">
                        <img src="img/a21.jpg">
                        </div>
                    </tr>
                  </table>
                </div>
                <!--part-->

                <div class="part">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="25" class="L">
                        <div class="co co6"></div>
                      </td>
                      <td class="R">
                        <div class="p1">返回快乐挣填写订单</div>
                        <div class="p2">复制订单号后，返回快乐挣长按订单号输入框即可粘贴订单号。</div>
                        <div class="p3">
                          <img src="img/a22.jpg">
                          <img src="img/a23.jpg"></div>
                      </tr>
                    </table>
                  </div>
                  <!--part--> </div>
                <!--i_tryDetail2--> </div>

            </ion-content>
          </ion-view>