<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">快乐挣订单状态显示被关闭</h1>
  </div>
 <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
         <div class="part">
          <div class="p1">
            <div class="a1">1.【全部订单关闭】</div>

            <div class="clearfix"></div>
          </div>
          <div class="p2">
          网页异常，退出重新进入,如图：
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/close1.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
          <div class="part">
          <div class="p1">
            <div class="a1">2、【个别订单关闭】</div>
		
            <div class="clearfix"></div>
          </div>
          <div class="p2">
         申请任务之后超过24小时内没有填写订单号自动关闭任务，如下图所示
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/close2.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
         
		    <div class="part">
          <div class="p1">
            <div class="a1">3、【个别订单关闭】</div>
			<div></div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          由于个人操作失误，刷错金额或填写的订单号不正确，工作人员拒绝审核退回单子，未在72小时内修改订单号解决问题的自动关闭订单。


           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/close3.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
        
			
		  <div class="part">
          <div class="p1">
            <div class="a1">3.1、修改订单号，填入正确的订单号</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/close4.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
        
			 <div class="part">
          <div class="p1">
            <div class="a1">4、【抢购资格取消】</div>
            <div class="clearfix"></div>
          </div>
          <div class="p2">
          该活动已结束。也或是申请后取消订单则会关闭抢购资格
           <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co1">&nbsp;</div>
              </td>
              <td class="R">
               
			    <div><img padding:0px="" 2px;="" src="img/close5.png" style="width:75%;"></div>
				  
			  
              </td>
              </tr>
            </table>
		   
			
			
			
			
			
			</div>
			
		
			
        </div>
        
        
    
        </div>
      <!--i_guide--> </div>
  </ion-content>

</ion-view>