<ion-view hide-nav-bar="true" hide-tabs>
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article" class="button icon ion-ios-arrow-back button-clear head_button1"></a>
    <h1 class="title">做了任务之后在第几天好评</h1>
  </div>
 <ion-content class="padding_head">
    <div class="ibody">
      <div class="i_tryProcess">
         <div class="part">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25" class="L">
                <div class="co co2">&nbsp;</div>
              </td>
              <td class="R">
                <div class="p1">从刷单后的第二天开始算起，第七天好评</div>
                <div class="p2">
                  比如
                  <span>周一付款的，那么就是下周一确认收货好评。</span>
                 
                </div>
               
                </td>
              </tr>
            </table>
          </div>
        
         
		  
        
			
		
			
        
        
    
        </div>
      <!--i_guide--> </div>
  </ion-content>

</ion-view>